body, html{
    background: #FFF;
    font-size: 14px;
    min-height:100%;
}
body, html, #main, .content, .canvas, .sidebar{
    height: 100%;
    font-family: "Titillium Web Light", Arial;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*--------------------------------------------
            REUSABLES
---------------------------------------------*/
.no-margin{
    margin:0;
}
.centered{
    text-align:center;
    display:block;
}

.clearfix:before,
.clearfix:after{
    display: table;
    content: " ";
}
.clearfix:after{
    clear: both;
}


/*--------------------------------------------
            PAGE GLOBALS
---------------------------------------------*/
.page-content{
    position:relative;
}
.main{
    position:absolute;
    padding:0;
    height:100%;
    width:110%;
    top: 0;
    left: 0;
}
.main.no-sidebar{
    left:0;
    right:0;
    width:100%;
}
.canvas{
    /*overflow:auto;*/
}
#note-canvas{
    position:absolute;
    top:0;
    width:0;
    height:0;
    z-index:9;
}

#text-box-canvas{
    position:absolute;
    top:0;
    width:0;
    height:0;
    z-index:10;
}



/*--------------------------------------------
            DECISION DIAGRAM TREE
---------------------------------------------*/
.canvas{
    padding:30px;
}
.canvas .decision-tree,
.canvas .yes-branch,
.canvas .no-branch{
    margin:0;
    padding:0;
    position:relative;
}
.canvas .decision-tree-canvas{
    margin-bottom:40px;
}
.canvas li{
    margin:0;
    padding:0;
    list-style-type:none;
}
.canvas .yes-branch{
    position: relative;
    top: -80px;
    left:203px;
    display:inline-block;
    width:180px;
}
.canvas .yes-branch.multi{
    padding-left:72px;
}
.canvas .yes-branch.multi li {
    margin-bottom: 25px;
}
.canvas .yes-branch > li{
    position:relative;
}
.canvas .no-branch{
    position:relative;
    margin-top:-20px;
}
.decision-label.preview {
    display: none;
}
.multi > li > div > div > .decision-label.preview {
    display: inline-block;
    left: -44px;
    top: 25px;
}

/* items */
.decision-item{
    margin-bottom:10px;
    width:130px;
    height:70px;
    line-height:40px;
    text-align:center;
}

/* lines */
.yes-branch:after{
    content: "";
    position: absolute;
    height: 1px;
    left: -72px;
    right: 100%;
    top: 34px;
    background: #aaa;
}
.yes-branch.multi > li > .decision-item:after{
    content: "";
    position: absolute;
    width: 1px;
    bottom: 35px;
    /*height: calc(100% + 25px);*/
    height:100%;
    left: -72px;
    background: #aaa;
}
.yes-branch.multi > li:first-child > .decision-item:after{
    top:35px;
}
.yes-branch.multi > li:last-child > .decision-item:after{
    height:95px;
    top:-60px;
    /*bottom: calc( 100% - 35px );*/
}

.yes-branch > li:after{
    content: "";
    position: absolute;
    height: 1px;
    left: -72px;
    right: 100%;
    top: 34px;
    background: #aaa;
}

.yes-branch:empty{
    display:none;
}

.canvas li:before{
    content: "";
    position: absolute;
    left: 65px;
    width: 1px;
    top: 70px;
    bottom: 70px;
    background: #aaa;
}


/* labels */
.decision-label{
    position: absolute;
    background: #FFF;
    line-height: 1em;
    padding: 3px;
    color: #555;
    z-index:2;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
}
.decision-label.yes{
    top: 24px;
    left: 152px;
}
.decision-label.no{
    top: 100px;
    left: 55px;
}

/* this is the empty item that has the dashed edges that we drag for the first item */
.decision-tree-empty-item{
    display:none;
    width:130px;
    padding:30px 10px;
    border:1px dashed #555;
    text-align:center;
    color:#ccc;
}


.decision-item-inner{
    width:130px;
    height:70px;
    position:relative;
}

.decision-item-triangle{
    background: #FFF;
    border: 1px solid #555;
    transform: rotate(150deg) skew(31deg);
    -moz-transform: rotate(150deg) skew(31deg);
    -webkit-transform: rotate(150deg) skew(31deg);
    width: 81px;
    height: 70px;
    position: relative;
    z-index: 6;
    top: 0;
    left: 0;
    display: inline-block;
    cursor: pointer;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    /*width: 130px;*/
    /*height: 70px;*/
    /*background: url(../images/decision-triangle.png);*/
}
.decision-item-inner.audience-segment .decision-item-triangle {
    /*background:#fafafa;*/
    transform: rotate(0);
    -moz-transform: rotate(0);
    -webkit-transform: rotate(0);
    width:130px;
    height:70px;
    left:0;
    top:0;

}
.decision-item-inner.audience-segment i, .decision-item-inner.audience-segment .csb-icon-bg{
    display:none;
}
.decision-item-content{
    position: absolute;
    top: 0;
    left:0;
    z-index: 6;
    color: #555;
    width: 130px;
    height: 70px;
    line-height:1.2em;
    font-size: 13px;
    display:table;
}
.decision-item-content p{
    display:table-cell;
    vertical-align:middle;
}

.decision-item i{
    display:none;
    position: absolute;
    top: -13px;
    left: 50%;
    margin-left: -11px;
    z-index: 7;
    color: #555;
    font-size: 18px;
}
.decision-item .csb-icon-bg{
    position: absolute;
    top: -15px;
    left: 50%;
    margin-left: -12px;
    width: 22px;
    height: 22px;
    border-radius: 35px;
    -moz-border-radius: 35px;
    -webkit-border-radius: 35px;
    background: #FFF;
    z-index: 6;
}



.csb-selected-note-border {
    border: 1px solid #666 !important;
    border-radius: 3px;

    transition: border-color .5s;
    -moz-transition: border-color .5s;
    -webkit-transition: border-color .5s;
}

.csb-selected-text-box-border {
    border: 1px dashed #666 !important;
    transition: border-color .5s;
    -moz-transition: border-color .5s;
    -webkit-transition: border-color .5s;
}

.csb-selected-arrow {
    background: #666 !important;
    transition: border-color .5s;
    -moz-transition: border-color .5s;
    -webkit-transition: border-color .5s;
}

.csb-selected-arrow:after{
    position: absolute;
    content: "";
    right: 0;
    top: 50%;
    margin-top: -5px;
    margin-right: -10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 0 5px 10px;
    border-color: transparent transparent transparent #666 !important;
    transition: border-color .5s;
    -moz-transition: border-color .5s;
    -webkit-transition: border-color .5s;
}

/*--------------------------------------------
            SKETCHING NOTE
---------------------------------------------*/
.sketching-tools-note{
    font-family: "helvetica neue", arial;
    color: #444;
    display: block;
    cursor: move;
    text-align: center;
    font-size: 12px;

}
.sketching-tools-note .inner{
    position: relative;
    display:inline-block;
    background: #FFF;
    border: 1px solid #444;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding: 10px 5px 5px 5px;
    min-width:120px;
    max-width:300px;
    box-shadow: 0 -1px 8px rgba(255,255,255,0.3), inset 0 0 37px rgba(255,255,255,0.14);
    -moz-box-shadow: 0 -1px 8px rgba(255,255,255,0.3), inset 0 0 37px rgba(255,255,255,0.14);
    -webkit-box-shadow: 0 -1px 8px rgba(255,255,255,0.3), inset 0 0 37px rgba(255,255,255,0.14);
    word-wrap: break-word;

    transition: border-color .5s;
    -moz-transition: border-color .5s;
    -webkit-transition: border-color .5s;
}

.sketching-tools-note .csb-selected-note-arrow-left:before{
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -11px;
    margin-left: -30px;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 30px 10px 0;
    border-color: transparent #666 transparent transparent !important;

    transition: border-color .5s;
    -moz-transition: border-color .5s;
    -webkit-transition: border-color .5s;
}

.sketching-tools-note .csb-note-arrow-left:before{
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -11px;
    margin-left: -30px;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 30px 10px 0;
    border-color: transparent #666 transparent transparent;
}

.sketching-tools-note .csb-selected-note-arrow-right:after{
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -11px;
    margin-right: -30px;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 30px;
    border-color: transparent transparent transparent #666 !important;

    transition: border-color .5s;
    -moz-transition: border-color .5s;
    -webkit-transition: border-color .5s;
}

.sketching-tools-note .csb-note-arrow-right:after{
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -11px;
    margin-right: -30px;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 30px;
    border-color: transparent transparent transparent #444;
}

.sketching-tools-note .csb-selected-note-arrow-top:before{
    position: absolute;
    left: 50%;
    top: 0;
    margin-top: -30px;
    margin-left: -9px;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 30px 10px;
    border-color: transparent transparent #666 transparent !important;

    transition: border-color .5s;
    -moz-transition: border-color .5s;
    -webkit-transition: border-color .5s;
}

.sketching-tools-note .csb-note-arrow-top:before{
    position: absolute;
    left: 50%;
    top: 0;
    margin-top: -30px;
    margin-left: -9px;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 30px 10px;
    border-color: transparent transparent #444 transparent;
}

.sketching-tools-note .csb-selected-note-arrow-bottom:after{
    position: absolute;
    left: 50%;
    bottom: 0;
    margin-bottom: -30px;
    margin-left: -9px;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 30px 10px 0 10px;
    border-color: #666 transparent transparent transparent !important;

    transition: border-color .5s;
    -moz-transition: border-color .5s;
    -webkit-transition: border-color .5s;
}

.sketching-tools-note .csb-note-arrow-bottom:after{
    position: absolute;
    left: 50%;
    bottom: 0;
    margin-bottom: -30px;
    margin-left: -9px;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 30px 10px 0 10px;
    border-color: #444 transparent transparent transparent;
}

/*--------------------------------------------
            SKETCHING TEXT BOX
---------------------------------------------*/
.sketching-tools-text-box{
    font-family: "helvetica neue", arial;
    color: #444;
    display: block;
    cursor: move;
    text-align: center;
    font-size: 12px;
    cursor: move;
}

.sketching-tools-text-box .inner{
    position: relative;
    display:inline-block;
    background: transparent;
    padding: 10px 5px 5px 5px;
    min-width: 120px;
    max-width: 300px;
    word-wrap: break-word;
}

.sketching-tools-text-box-border {
    border: 1px dashed #444;
}

/*--------------------------------------------
            SKETCHING ARROW
---------------------------------------------*/
.sketching-tools-arrow{
    transform-origin: 0 50%;
    height: 2px; /* Line width */
    background: #444;
    width: 100px;
    cursor: move;

    transition: background .5s;
    -moz-transition: background .5s;
    -webkit-transition: background .5s;
}

.sketching-tools-arrow:after{
    position: absolute;
    content: "";
    right: 0;
    top: 50%;
    margin-top: -5px;
    margin-right: -10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 0 5px 10px;
    border-color: transparent transparent transparent #444;

    transition: border-color .5s;
    -moz-transition: border-color .5s;
    -webkit-transition: border-color .5s;
}



.csb-arrowItem-handle{
    left: 110px;
    top: -2.5px;
    transform-origin: 50% 50%;
    position: absolute !important;
    width: 5px;
    height: 5px;
    border-style: solid;
    border-radius: 5px;
    border-color: #444;
    display: inline-block;
    cursor: pointer;
}



/*---------------------------------------------
            ICON FONT
----------------------------------------------*/
@font-face {
    font-family: "icomoon";
    src:url("http://utemplate.com/jeffsfonts/icomoon.eot?-pwcfa8");
    src:url("http://utemplate.com/jeffsfonts/icomoon.eot?#iefix-pwcfa8") format("embedded-opentype"),
    url("http://utemplate.com/jeffsfonts/icomoon.woff?-pwcfa8") format("woff"),
    url("http://utemplate.com/jeffsfonts/icomoon.ttf?-pwcfa8") format("truetype"),
    url("http://utemplate.com/jeffsfonts/icomoon.svg?-pwcfa8#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    display:none;
    font-family: "icomoon";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.csb-icon-blank:before {
    content: "\e611";
}
.csb-icon-document:before {
    content: "\e612";
}
.csb-icon-folder-closed:before {
    content: "\e613";
}
.csb-icon-folder-open:before {
    content: "\e614";
}
.csb-icon-image:before {
    content: "\e615";
}
.csb-icon-add-btn:before {
    content: "\e608";
}
.csb-icon-remove-btn:before {
    content: "\e609";
}
.csb-icon-CSB-help:before {
    content: "\e60a";
}
.csb-icon-CSB-share:before {
    content: "\e60b";
}
.csb-icon-arrow:before {
    content: "\e60c";
}
.csb-icon-contextual-targeting:before {
    content: "\e60d";
}
.csb-icon-geo-targeting:before {
    content: "\e60e";
}
.csb-icon-interaction:before {
    content: "\e60f";
}
.csb-icon-note:before {
    content: "\e610";
}
.csb-icon-retargeting:before {
    content: "\e604";
}
.csb-icon-search-retargeting:before {
    content: "\e602";
}
.csb-icon-site-keywords:before {
    content: "\e605";
}
.csb-icon-text-box:before {
    content: "\e603";
}