body, html {
  overflow: hidden;
}

#main, .content, .canvas, .sidebar {
  height: 100%;
  font-family: 'Titillium';
}

body {
  margin-top: 34px;
}

/*--------------------------------------------
            REUSABLES
---------------------------------------------*/
.no-margin {
  margin: 0;
}

.centered {
  text-align: center;
  display: block;
}

.centered-div {
  position: absolute;
  top: 180px;
  left: 50%;
  margin-left: -200px;
  width: 400PX;
}

/*--------------------------------------------
            PAGE GLOBALS
---------------------------------------------*/
button {
  outline: none;
}

.page-content {
  position: relative;
  height: 100%;
  background: #486E9A url('../images/csbApp/CSB_canvas_image.png');
  background-size: cover;
}

.sidebar {
  float: left;
  padding: 0;
  position: relative;
  z-index: 6;
}

.main {
  padding: 0;
  position: fixed;
  z-index: 5;
  bottom: 0;
  right: 0;
  top: 34px;
  left: 200px;
  overflow: hidden;
}

.mdx3 {
  overflow: hidden !important;
  .main {
    padding: 0;
    position: fixed;
    z-index: 5;
    bottom: 0;
    right: 0;
    top: 74px;
    left: 200px;
    overflow: hidden;
  }
  .body-wrapper{
    overflow: auto !important;
  }
}

.main.no-sidebar {
  left: 0;
  right: 0;
  width: 100%;
}

.canvas {
  overflow: auto;
}

.note {
  position: absolute;
}

#note-canvas {
  position: absolute;
  top: -28px;
  left: -100px;
  z-index: 9;
}

#text-box-canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.csb-alert.alert {
  width: 100%;
  min-width: 0;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 5px;
  min-height: 0;
  margin-bottom: 10px;
}

.csb-alert.alert.alert-danger {
  color: #a94442 !important;
  background-color: #f2dede !important;
  border-color: #ebccd1 !important;

}

.csb-alert.alert.alert-warning {
  color: #8a6d3b !important;
  background-color: #fcf8e3 !important;
  border-color: #faebcc !important;
}

.csb-alert.alert.alert-info {
  color: #31708f !important;
  background-color: #d9edf7 !important;
  border-color: #bce8f1 !important;
}

/*--------------------------------------------
            NAVIGATION
---------------------------------------------*/
$csb_top_menu_nav_height: 34px;
.top-menu-nav {
  height: $csb_top_menu_nav_height;
  background-color: $cSecondary;
  padding: 5px 20px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10;
}

.top-menu-nav .btn, .top-menu-nav .disabled {
  background: transparent;
}

.sizmek-logo {
  display: block;
  margin-top: 2px;
  margin-right: 15px;
  width: 94px;
  height: 16px;
  background: url('../images/csbApp/sizmek_logo_small2.png') no-repeat;
  float: left;
}

.top-menu-nav > ul {
  list-style: none;
  font-size: 12px;
}

.top-menu-nav > ul i {
  padding: 0 5px 0 0;
}

.nav-campaign-advertiser > li,
.main-nav > li {
  display: block;
  height: 34px;
  float: left;
  padding: 3px 15px;
}

.top-menu-nav > ul > li > a {
  text-decoration: none;
  color: $cWhite;
}

.main-nav > li > a.active {
  color: $cThird;
}

.main-nav > li > a.disabled,
.main-nav > li.disabled,
.top-menu-nav li.disabled {
  color: $cDarkGrey;
  cursor: not-allowed;
}

.top-menu-nav .campaign-name {
  color: $cWhite;
}

.top-menu-nav .advertiser-name {
  color: $cDarkGrey;
}

.top-menu-nav .template-name {
  color: $cWhite;
}

.nav-actions > li {
  padding: 0;
  display: inline-block;
}

#discard-btn.disabled {
  border: 1px solid $cDarkGrey;
  color: $cDarkGrey;
}

/*--------------------------------------------
                SIDEBAR
---------------------------------------------*/
.sidebar {
  width: 200px;
  height: 96vh;
  transition: all .5s;
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
}

.sidebar h4 {
  font-family: 'Titillium';
  font-size: 13px;
  padding: 10px 10px 9px 16px;
  margin: 0;
  color: $cWhiteSeventy;
  background: $cSecondaryHint;
  border-bottom: 1px solid $cSecondaryTwenty;
}

.sidebar-bg {
  width: 200px;
  position: fixed;
  top: 34px;
  left: 0;
  bottom: 0;
  background: $cSecondaryTwenty;
  z-index: 5;
}

.mdx3 {
  .sidebar-bg {
    width: 200px;
    position: fixed;
    top: 70px;
    left: 0;
    bottom: 0;
    background: $cSecondaryTwenty;
    z-index: 5;
  }
}

.sidebar .nav-item {
  font-size: 13px;
  color: $cWhiteSeventy;
  padding: 12px 10px 11px;
  cursor: pointer;
}

.sidebar .nav-item.ui-draggable-disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.left_menu_hover_item {
  &:hover {
    background-color: rgba(255, 255, 255, 0.35);
  }
}

.sidebar .decision-rules i {
  padding: 0 8px;
}

/* this is the border for the decision items */
.sidebar .nav-item.decision-rules:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 1px;
  left: 0;
  top: 0;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjZmUzZmYiIHN0b3Atb3BhY2l0eT0iMC4zNSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(207, 227, 255, 0.35) 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(207, 227, 255, 0.35)));
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(207, 227, 255, 0.35) 100%);
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(207, 227, 255, 0.35) 100%);
  background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(207, 227, 255, 0.35) 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(207, 227, 255, 0.35) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#59cfe3ff', GradientType=1);
}

.sidebar .nav-item:first-child::after {
  display: none;
}

.sidebar .sidebar-groups {
}

.sidebar .sidebar-groups .sidebar-groups-label {
  border-bottom: 1px solid rgba(13, 42, 77, 0.35);
  &:hover {
    cursor: pointer;
  }
}

.sidebar .nav {
  overflow: auto;
  transition: all .5s;
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
  /* hack for transitions to work */
  max-height: 2000px;
}

.sidebar .nav.hide-menu {
  max-height: 0;
}

.sidebar .graph-nav {
  margin-bottom: 100px;
  overflow: hidden;
  height: 100vh;
  margin-top: 34px;
}

.mdx3 {
  .sidebar .graph-nav {
    margin-bottom: 100px;
    overflow: hidden;
    height: 100vh;
    margin-top: 1px;
  }
}

.sidebar .graph-nav .sidebar-groups:last-child {
  margin-bottom: 100px;
}

.sidebar .nav-sketching-tools {
  text-align: center;
}

.sidebar .nav-sketching-tools > li {
  display: inline-block;
  padding: 10px 15px;
  font-size: 20px;
}

.sidebar .nav-templates {
  margin: 12px 0;
}

.sidebar .template-loading-text {
  padding: 10px 15px;
  color: #eee;
  color: rgba(255, 255, 255, 0.7);
}

.scroller {
  position: relative;
  height: 250px;
  overflow-y: hidden;
  /*background-color: navy;*/
}

.sidebar .nav-templates .nav-item.decision-diagram-templates {
  padding: 5px 10px;
}

.sidebar .nav-templates .nav-item .decision-diagram-template-name {
  padding-left: 8px;
  padding-right: 20px;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  width: calc(100% - 15px);
}

.sidebar .nav-templates .nav-item .decision-diagram-template-name.active {
  color: $cThird;
}

.sidebar .nav-templates .nav-item i {
  margin-top: 3px;
  opacity: 0;
  transition: all .8s;
  -moz-transition: all .8s;
  -webkit-transition: all .8s;
}

.sidebar .nav-templates .nav-item:hover i {
  opacity: 1;
}

.sidebar .nav-third-party li {
  padding: 12px 22px;
}

/*--------------------------------------------
            DECISION DIAGRAM TREE
---------------------------------------------*/
.canvas {
  padding: 28px 50px 50px 100px;
  font-family: 'helvetica', arial;
  color: white;
  color: $cWhiteEighty;
  font-weight: 300;
}

.canvas .decision-tree,
.canvas .yes-branch,
.canvas .no-branch {
  margin: 0;
  padding: 0;
  position: relative;
}

.canvas li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.canvas .decision-tree-canvas {
  position: relative;
}

.canvas .yes-branch {
  position: relative;
  top: -80px;
  left: 203px;
  display: inline-block;
  /* adds space to the right of the decision without effecting layout.. done to add right spacing to the graph when scrolling to right */
  width: 180px;
}

.canvas .yes-branch.multi {
  padding-left: 72px;
}

.canvas .yes-branch.multi li {
  margin-bottom: 35px;
}

.canvas .yes-branch > li {
  position: relative;
}

.canvas .no-branch {
  position: relative;
  margin-top: -20px;
}

.canvas .audience-icon-guy {
  background-image: url(../images/csbApp/audience-icon.png);
  height: 35px;
  width: 16px;
  position: absolute;
  top: 13px;
  left: -63px;
}

.canvas .audience-icon-guy:hover {
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 4000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: rotate;
  -moz-animation-duration: 4000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: rotate;
  -ms-animation-duration: 4000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  animation-name: rotate;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

/* items */
.decision-item {
  margin-bottom: 10px;
  width: 130px;
  height: 70px;
  line-height: 40px;
  text-align: center;
  overflow: visible;
}

.decision-item-dragged {
  position: relative;
  z-index: 6;
  i {
    position: absolute;
    top: -13px;
    left: 50%;
    margin-left: -11px;
    z-index: 7;
    color: $cWhiteSixty;
    font-size: 18px;
    text-shadow: 0 2px 22px #486E9A;
  }
}

/* lines */
.yes-branch:after {
  content: '';
  position: absolute;
  height: 1px;
  left: -72px;
  right: 100%;
  top: 34px;
  background: #ccc;
}

.yes-branch.multi > li > .decision-item:after {
  content: '';
  position: absolute;
  width: 1px;
  bottom: 35px;
  height: 100%;
  height: calc(100% + 35px);
  left: -72px;
  background: #ccc;
}

.yes-branch.multi > li:first-child > .decision-item:after {
  top: 35px;
}

.yes-branch.multi > li:last-child > .decision-item:after {
  height: 105px;
  top: -70px;
  /*bottom: calc( 100% - 35px );*/
}

.yes-branch > li:after {
  content: '';
  position: absolute;
  height: 1px;
  left: -72px;
  right: 100%;
  top: 34px;
  background: #ccc;
}

.yes-branch:empty {
  display: none;
}

.canvas li:before {
  content: '';
  position: absolute;
  left: 65px;
  width: 1px;
  top: 70px;
  bottom: 70px;
  background: #ccc;
}

/* labels */
.decision-label {
  font-size: 12px;
  position: absolute;
  background: #486E9A;
  line-height: 1em;
  padding: 3px;
  color: $cWhite;
  color: $cWhiteEighty;
  z-index: 2;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

.decision-label.yes {
  top: 25px;
  left: 152px;
}

.decision-label.no {
  top: 100px;
  left: 55px;
}

.decision-label.preview {
  display: none;
}

.multi > li > div > div > .decision-label.preview {
  display: inline-block;
  left: -44px;
  top: 25px;
}

/* this is the empty item that has the dashed edges that we drag for the first item */
.decision-tree-empty-item {
  width: 130px;
  padding: 30px 10px;
  border: 1px dashed #aaa;
  text-align: center;
  color: #ccc;
}

.decision-item-inner {
  width: 130px;
  height: 70px;
  position: relative;
}

.decision-item-inner.active .decision-item-triangle {
  border-color: yellow;
}

.decision-item-triangle {
  background: #486E9A;
  border: 1px solid #ccc;
  transform: rotate(150deg) skew(31deg);
  -moz-transform: rotate(150deg) skew(31deg);
  -webkit-transform: rotate(150deg) skew(31deg);
  width: 81px;
  height: 70px;
  position: relative;
  z-index: 6;
  top: 0;
  left: 0;
  display: inline-block;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  cursor: pointer;
  box-shadow: 0 -1px 8px rgba(255, 255, 255, 0.3), inset 0 0 37px rgba(255, 255, 255, 0.14);
  -moz-box-shadow: 0 -1px 8px rgba(255, 255, 255, 0.3), inset 0 0 37px rgba(255, 255, 255, 0.14);
  -webkit-box-shadow: 0 -1px 8px rgba(255, 255, 255, 0.3), inset 0 0 37px rgba(255, 255, 255, 0.14);
  transition: all .5s ease-in;
  -moz-transition: all .5s ease-in;
  -webkit-transition: all .5s ease-in;

}

.decision-item-inner.audience-segment .decision-item-triangle {
  /*background:#fafafa;*/
  transform: rotate(0);
  -moz-transform: rotate(0);
  -webkit-transform: rotate(0);
  width: 130px;
  height: 70px;
  left: 0;
  top: 0;
}

.decision-item-inner.audience-segment.droppable .decision-item-triangle {
  border: 1px dashed $cThird;
}

.decision-item-inner.audience-segment i, .decision-item-inner.audience-segment .csb-icon-bg {
  left: 22px;
  top: -19px;
}

.decision-item-content {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 7;
  color: $cWhite;
  color: $cWhiteEighty;
  width: 130px;
  height: 70px;
  line-height: 1.2em;
  font-size: 13px;
  display: table;
  word-break: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

.decision-item-content p {
  display: table-cell;
  vertical-align: middle;
}

.decision-item i.decision-icon {
  position: absolute;
  top: -13px;
  left: 50%;
  margin-left: -11px;
  z-index: 7;
  color: $cWhiteSixty;
  font-size: 18px;
  text-shadow: 0 2px 22px #486E9A;
}

.decision-item i.collection-icon {
  position: relative;
  z-index: 7;
  color: rgba(255, 255, 255, 0.6);
  font-size: 18px;
  text-shadow: 0 2px 22px #486E9A;
  top: -100px;
  left: 8px;
  float: left;
  margin-left: 3px;
}

//.decision-item i.collection-icon:before{
//  content: '';
//  position: absolute;
//  margin-left: -18px;
//  width: 22px;
//  height: 22px;
//  border-radius: 35px;
//  box-shadow: 0 0 27px 10px #486E9A;
//  background: #486E9A;
//  z-index: 6;
//}

.decision-item .csb-icon-bg {
  position: absolute;
  top: -15px;
  left: 50%;
  margin-left: -12px;
  width: 22px;
  height: 22px;
  border-radius: 35px;
  -moz-border-radius: 35px;
  -webkit-border-radius: 35px;
  box-shadow: 0 0 27px 10px #486E9A;
  -moz-box-shadow: 0 0 27px 10px #486E9A;
  -webkit-box-shadow: 0 0 27px 10px #486E9A;
  background: #486E9A;
  z-index: 6;
}

.decision-tree-delete-item {
  position: fixed;
  left: 227px;
  bottom: 5px;
  color: $cWhiteSeventy;
  z-index: 7;
}

.decision-tree-delete-item .glyphicon {
  font-size: 40px;
}

.decision-tree-reset-view {
  position: fixed;
  right: 30px;
  bottom: 15px;
  color: $cWhiteSeventy;
}

.decision-tree-reset-view .glyphicon {
  padding-right: 7px;
}

.csb-selected-note-border {
  border: 1px solid $cThird !important;
  border-radius: 3px;

  transition: border-color .5s;
  -moz-transition: border-color .5s;
  -webkit-transition: border-color .5s;
}

.csb-selected-text-box-border {
  border: 1px dashed $cThird !important;
  transition: border-color .5s;
  -moz-transition: border-color .5s;
  -webkit-transition: border-color .5s;
}

.csb-selected-arrow {
  background: $cThird !important;
  transition: border-color .5s;
  -moz-transition: border-color .5s;
  -webkit-transition: border-color .5s;
}

.csb-selected-arrow:after {
  position: absolute;
  content: '';
  right: 0;
  top: 50%;
  margin-top: -5px;
  margin-right: -10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 0 5px 10px;
  border-color: transparent transparent transparent $cThird !important;
  transition: border-color .5s;
  -moz-transition: border-color .5s;
  -webkit-transition: border-color .5s;
}

/*--------------------------------------------
            SKETCHING NOTE
---------------------------------------------*/
.sketching-tools-note {
  font-family: 'helvetica neue', arial;
  color: $cWhite;
  color: $cWhiteEighty;
  display: block;
  cursor: move;
  text-align: center;
  font-size: 12px;

}

.sketching-tools-note .inner {
  position: relative;
  display: inline-block;
  background: #486E9A;
  border: 1px solid $cSecondary;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  padding: 10px 5px 5px 5px;
  min-width: 120px;
  max-width: 300px;
  box-shadow: 0 -1px 8px rgba(255, 255, 255, 0.3), inset 0 0 37px rgba(255, 255, 255, 0.14);
  -moz-box-shadow: 0 -1px 8px rgba(255, 255, 255, 0.3), inset 0 0 37px rgba(255, 255, 255, 0.14);
  -webkit-box-shadow: 0 -1px 8px rgba(255, 255, 255, 0.3), inset 0 0 37px rgba(255, 255, 255, 0.14);
  word-wrap: break-word;

  transition: border-color .5s;
  -moz-transition: border-color .5s;
  -webkit-transition: border-color .5s;
}

.sketching-tools-note .csb-selected-note-arrow-left:before {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -11px;
  margin-left: -30px;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 30px 10px 0;
  border-color: transparent $cThird transparent transparent !important;

  transition: border-color .5s;
  -moz-transition: border-color .5s;
  -webkit-transition: border-color .5s;
}

.sketching-tools-note .csb-note-arrow-left:before {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -11px;
  margin-left: -30px;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 30px 10px 0;
  border-color: transparent $cSecondary transparent transparent;
}

.sketching-tools-note .csb-selected-note-arrow-right:after {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -11px;
  margin-right: -30px;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 10px 30px;
  border-color: transparent transparent transparent $cThird !important;

  transition: border-color .5s;
  -moz-transition: border-color .5s;
  -webkit-transition: border-color .5s;
}

.sketching-tools-note .csb-note-arrow-right:after {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -11px;
  margin-right: -30px;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 10px 30px;
  border-color: transparent transparent transparent $cSecondary;
}

.sketching-tools-note .csb-selected-note-arrow-top:before {
  position: absolute;
  left: 50%;
  top: 0;
  margin-top: -30px;
  margin-left: -9px;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 30px 10px;
  border-color: transparent transparent $cThird transparent !important;

  transition: border-color .5s;
  -moz-transition: border-color .5s;
  -webkit-transition: border-color .5s;
}

.sketching-tools-note .csb-note-arrow-top:before {
  position: absolute;
  left: 50%;
  top: 0;
  margin-top: -30px;
  margin-left: -9px;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 30px 10px;
  border-color: transparent transparent $cSecondary transparent;
}

.sketching-tools-note .csb-selected-note-arrow-bottom:after {
  position: absolute;
  left: 50%;
  bottom: 0;
  margin-bottom: -30px;
  margin-left: -9px;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 10px 0 10px;
  border-color: $cThird transparent transparent transparent !important;

  transition: border-color .5s;
  -moz-transition: border-color .5s;
  -webkit-transition: border-color .5s;
}

.sketching-tools-note .csb-note-arrow-bottom:after {
  position: absolute;
  left: 50%;
  bottom: 0;
  margin-bottom: -30px;
  margin-left: -9px;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 10px 0 10px;
  border-color: $cSecondary transparent transparent transparent;
}

/*--------------------------------------------
            SKETCHING TEXT BOX
---------------------------------------------*/
.sketching-tools-text-box {
  position: absolute !important;
  font-family: 'helvetica neue', arial;
  color: $cWhite;
  color: $cWhiteEighty;
  display: block;
  cursor: move;
  text-align: center;
  font-size: 12px;
  cursor: move;
}

.sketching-tools-text-box .inner {
  position: relative;
  display: inline-block;
  background: transparent;
  padding: 10px 5px 5px 5px;
  min-width: 120px;
  max-width: 300px;
  word-wrap: break-word;

  transition: border-color .5s;
  -moz-transition: border-color .5s;
  -webkit-transition: border-color .5s;
}

.sketching-tools-text-box-border {
  border: 1px dashed $cSecondary;
}

/*--------------------------------------------
            SKETCHING ARROW
---------------------------------------------*/
.sketching-tools-arrow {
  position: relative;
  transform-origin: 0 50%;
  height: 2px; /* Line width */
  background: $cSecondary;
  width: 100px;
  cursor: move;

  transition: background .5s;
  -moz-transition: background .5s;
  -webkit-transition: background .5s;
}

.sketching-tools-arrow:after {
  position: absolute;
  content: '';
  right: 0;
  top: 50%;
  margin-top: -5px;
  margin-right: -10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 0 5px 10px;
  border-color: transparent transparent transparent $cSecondary;

  transition: border-color .5s;
  -moz-transition: border-color .5s;
  -webkit-transition: border-color .5s;
}

.csb-arrowItem-handle {
  left: 110px;
  top: -2.5px;
  transform-origin: 50% 50%;
  position: absolute !important;
  width: 5px;
  height: 5px;
  border-style: solid;
  border-radius: 5px;
  border-color: $cWhite;
  display: inline-block;
  cursor: pointer;
}

/*--------------------------------------------
            AUDIENCE SEGMENT PANEL
---------------------------------------------*/
.audience-segment-label {
  font-size: 16px;
  color: #888;
  font-weight: normal;
  font-family: 'Titillium';
}

.audience-segment-operator {
  color: #888;
  padding-left: 10px;
  font-family: 'Titillium';
}

.audience-segment-rules .audience-segment-rule:last-child .audience-segment-operator {
  display: none;
}

.audience-segment-rules > div:last-child .audience-segment-separator {
  display: none;
}

.audience-segment-separator {
  background: #eee;
  padding: 2px 15px;
  margin: 6px 0;
  color: #555;
  display: block;
}

.form-control.audience-segment




/*--------------------------------------------
            ATTACH CAMPAIGN MODAL
---------------------------------------------*/
  .campaign-picker .form-control {
  border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
}

.campaign-picker .input-group-addon {
  border-radius: 5px 0 0 0;
  -moz-border-radius: 5px 0 0 0;
  -webkit-border-radius: 5px 0 0 0;
}

.campaign-picker .list-group {
  height: 206px;
  overflow: auto;
  border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  border: 1px solid #ccc;
  border-top: 0;
}

.campaign-picker .list-group .list-group-item {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  background: #f2f2f2;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -moz-text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  border-left: 0px;
  border-right: 0px;
}

.campaign-picker .list-group .list-group-item.active {
  background: #428bca;
}

.campaign-picker .list-group .list-group-item .badge {
  display: none;
  color: #428bca;
  background-color: $cWhite;
}

.campaign-picker .list-group .list-group-item.active .badge {
  display: inline-block;
}

.csb-icon-border {
  display: inline-block;
  text-align: center;
  padding: 4px 7px;
  margin-right: 5px
}

.mdx-btn {
  font-family: 'Titillium Semibold', Helvetica, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  padding: 4px 12px;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  /*min-width: 70px;*/
  min-height: 24px;
  line-height: 24px;
}

.mdx-btn:hover {
  color: $cWhite;
  background-color: $cSecondary;
}

.mdx-btn:active {
  color: $cThird;
  background-color: $cSecondary;
}

.mdx-save-btn {
  color: $cSecondary;
  background-color: $cThird;
}

.mdx-close-btn {
  color: $cSecondary;
  background-color: $cDarkGrey;
}

#main {
  margin: 0;
}

.content {
  overflow: auto;
}

.graph-nav h4 {
  text-transform: uppercase;
}

.footer {
  margin-top: 10px;
}

/*Required for styling to be applied when using angular-bootstrap-ui*/
.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer;
}

/*---------------------------
      FLY OUT PANEL
----------------------------*/
.mdxUIContainer {
  position: fixed;
  top: 46px;
  margin-bottom: 20px;
  bottom: 0;
  width: 400px;
  z-index: 9;
  background-color: $cWhite;
  transition: all .5s;
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
  opacity: 0;
  right: 0;
  border-radius: 5px 0 0 0;
  -moz-border-radius: 5px 0 0 0;
  -webkit-border-radius: 5px 0 0 0;
  overflow-y: auto;
  overflow-x: hidden;
  .mm-control-label {
    padding-left: 0 !important;
  }

  .logical-operator {
    height: 30px;
    margin-left: -6px;
    margin-right: -6px;
    padding-left: 6px;
    background-color: #EEF1F8;
  }

  .mm-radio {
    margin-top: 4px !important;
  }

  .panel-mdx-row {
    width: 350px;
    margin: 0 0 4px 0;
    height: 52px;
    padding: 0;
  }

}

.mdxUIContainer.mdx3 {
  top: 81px;
}

.mm-two-columns {
  div {
    padding: 0;
  }
}

.mdxUIContainer.active {
  display: block;
  right: 17px;
  opacity: 1;
}

.mdxUIContainer select {
  //    max-width:150px;

}

.mdxUI .body {
  position: relative;
  margin: 10px 22px 14px 22px;
}

.mdxUI .body label {
  font-family: 'helvetica neue', arial;
  font-size: 13px;
  font-weight: 300;
  color: $cSecondary;
  opacity: 0.75;
}

.mdxUI .focussed {
  box-shadow: none;
}

.mdxUI .header {
  background-color: $cSecondary;
  padding: 10px 22px;
  margin: 0;
  position: relative;
  z-index: 7;
}

.mdxUI .header > h1 {
  margin: 0;
  color: $cWhiteEighty;
  font-size: 12px;
  text-transform: uppercase;
  font-family: 'Titillium Semibold', sans-serif;
}

.mdxUI .header span {
  cursor: pointer;
}

.keyword-item {
  background-color: $cFourth;
}

.mdxUI .footer {
  border-top: 1px solid $cDarkGrey;
  padding: 10px;
  float: left;
  width: 100%;
}

.mdxUI select {
  width: 100%;
}

.mdxUI .retargeting-content,
.mdxUI .external-audience-content,
.mdxUI .keywords-content {
  border: 1px solid $cFourth;
  padding: 6px;
  font-size: 12px;
  margin-bottom: 15px;
  position: relative;
}

.mdxUI .keywords-content .keywords-content {
  margin-top: 15px;
}

.mdxUI .keywords-content .who-are-also {
  color: $cFourth;
}

.mdxUI .keywords-content .who-are-also:hover {
  text-decoration: underline;
}

.mdxUI .retargeting-content .form-group {
  width: 100%;
}

.mdxUI .retargeting-content .form-wrapper {
  padding-bottom: 5px;
}

.mdxUI .retargeting-content select {
  width: 31%;
}

.mdxUI .retargeting-content .four-across select {
  width: 23%;
}

.mdxUI .form-group {
  margin-bottom: 5px !important;
}

.mdxUI .control-container {
  margin-right: 0 !important;
}

.mdxUI .remove-group-icon {
  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  background: white;
  border: 1px solid $cFourth;
  color: $cFourth;
  padding: 3px;
  position: absolute;
  z-index: 5;
  top: -10px;
  right: -6px;
  cursor: pointer;

}

.mdxUI .remove-rule-icon {
  color: $cFourth;
  cursor: pointer;
}

.mdxUI .add-rule {
  cursor: pointer;
  color: $cFourth;
  font-size: 13px;
  font-family: 'helvetica neue', arial;
}

.mdxUI .group-logical-separator {
  margin-top: -10px;
  display: block;
  margin-bottom: 5px;
  color: $cSecondary;
  opacity: .75;
}

.mdxUI select.form-control.selected-items {
  height: 142px;
}

.mdxUI .btn-group-vertical.move-btn-group {
  margin-top: 30px;
}

.show-static-retargeting-ui {
  display: block;
}

.hide-static-retargeting-ui {
  display: none;
}

.tab-pane {
  padding-top: 15px;
}

/* Category chooser styles */
.category-chooser {

}

.category-chooser .move-btn-group {
  margin-top: 25px;
}

.category-chooser select.choose-items {
  height: 140px;
}

.category-chooser select.selected-items {
  height: 190px;
}

/**************************************
**** Animations
***************************************/

/*--------------------------------------------
            TREE VIEW
---------------------------------------------*/

.treeview-content {
  background-color: $cWhite;
  margin-left: 15px;
  padding-top: 10px;

}

.canvas, .mdxUI, .treeview-content, .sidebar-funnel {
  /*-moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;*/
}

#tree ul {
  list-style: none;
  display: block;
}

.dg-top-level, .dg-ad-level {
  cursor: pointer;
}

.dg-icon {
  color: $cDarkGrey;
}

.dg-arrow {
  color: $cMain;
}

.dg-icon, .dg-arrow {
  margin-right: 4px;
}

.dg-name, .ad-weight {
  font-weight: bold;
  color: $cSecondary;

}

.dg-size, .ad-placement {
  /*margin: 0 10px 0 10px;*/
}

.dg-size, .dg-rotation, .ad-id, .ad-type {
  color: $cDarkGrey;
}

.ad-id {
  margin-right: 10px;
}

.dg-ad-level {
  /*margin-left: 25px;*/
}

/*--------------------------------------------
        TRAFFICKING
---------------------------------------------*/
.trafficking_container_mm2 {
  position: absolute;
  top: $csb_top_menu_nav_height;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  background-color: $cWhite;
}

.trafficking_container_mmNext {
  position: absolute;
  top: 0px;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  background-color: $cWhite;
}

.trafficking_table_container {
  width: 100%;
  height: 100%;
  position: relative;
  margin-top: 6px;
}

.trafficking_separator_with_dgs_ads {
  height: 100%;
  width: 6px;
}

.trafficking_separator_with_dgs_ads_div {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  border-left: 1px solid #bacae4;
  border-right: 1px solid #bacae4;
}

.trafficking_topBorder_separator {
  border-top: 1px solid #bacae4;
}

.trafficking_row_container {
  width: 100%;
  height: 100%;
  position: relative;
}

.trafficking_funnel_column {
  position: relative;
}

.trafficking_dgs_column {
  width: 683px;
  position: relative;
}

.trafficking_ads_column {
  position: relative;
}

.trafficking_funnel_row {
  height: 100%;
  overflow-y: auto;
}

/*This is the main container for what is displayed
below the header*/
#trafficking-wrapper {
  height: 100%;
}

.traffickingContainer {
  width: 100%;
  padding: 0;
  float: left;
  height: 100%;
}

.traffickingRow {
  height: 100%;
}

.traffickingFirstRow {
  background-color: white
}

.centralColumn {
  height: 98%;
  top: 15px;
}

.funnelAndDgsColumn {
  height: 100%;
}

.selectTargetAudienceText {
  font-family: "Titillium";
  font-size: 16px;
  color: #5f6d83;
  @include text_not_select;
}

.selectTargetAudienceIcon {
  width: 60px;
  height: 60px;
  display: block;
  margin: auto;
  position: relative;
  top: 15px;
  background-image: image-url('csbApp/emptyState_arrow.png');
}

$csb_trafficking_header_top: 53px;
.csb-trafficking-title {
  font-family: "Titillium";
  font-weight: normal;
  font-size: 16px;
  color: $cSecondary;
  margin: 0px 8px;
  line-height: 25px;
  text-transform: uppercase;
  position: relative;
  top: $csb_trafficking_header_top;
  left: 6px;
}

.csb_searchTextBox_wrapper {
  .form-control {
    display: inline-block;
    border-radius: 0 !important;
    &:hover {
      border: 1px solid $cFourth;
    }
    &:focus {
      border: 1px solid $cFourth;
    }
  }
}

.csb_searchTextBox {
  position: relative;
  top: $csb_trafficking_header_top;
  border: 1px solid $cFourth;
  height: 28px;
  width: 144px;
  padding: 6px 12px;
  &:focus {
    outline: 0;
  }
}

$trafficking_header_height: 99px;
.traffickingFilterContainer {
  height: $trafficking_header_height;
  border-bottom: 1px solid $cFourth;
}

.trafficking_dgs_row {
  background: #e3e9f4;
  height: 100%;
  top: $trafficking_header_height;
}

.openFunnelButton {
  position: relative;
  border: 1px solid #bacae4;
  display: inline-block;
  cursor: pointer;
  height: 145px;
  background: white;
  .wrapperOpenFunnelIcon {
    width: 28px;
    height: 28px;
    background-color: #e3e9f4;
    text-align: center;
    .openFunnelIcon {
      position: relative;
      display: inline-block;
      width: 6px;
      height: 9px;
      background-image: image-url('arrow_next.png');
      background-repeat: no-repeat;
    }
  }
  .funnelButtonText {
    width: 28px;
    position: absolute;
    padding: 10px 0;
    white-space: nowrap;
    text-transform: uppercase;
    font-family: "Titillium Semibold";
    font-size: 11px;
    color: $cSecondary;
  }
  .rotateFunnelButtonText {

    /* Safari */
    -webkit-transform: rotate(90deg);

    /* Firefox */
    -moz-transform: rotate(90deg);

    /* IE */
    -ms-transform: rotate(90deg);

    /* Opera */
    -o-transform: rotate(90deg);

    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

  }
}

.funnelArrowLeftIcon {
  cursor: pointer;
  background-image: image-url('close_normal.png');
  display: inline-block;
  width: 15px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: 10px;
  float: right;
  position: relative;
  top: 54px;
  &:hover {
    background-image: image-url('close_hover.png');
  }

  &:active {
    background-image: image-url('close_pressed.png');
  }
}

.funnelCloseState {
  position: absolute;
  height: 100%;
  width: 31px;
  border-right: 1px solid $cFourth;
}

.funnelCollapsibleColumn {
  width: 21px;
  border-right: 1px solid #bacae4;
}

/*--------------------------------------------
        TOP BAR
---------------------------------------------*/

#trafficking-top-bar {
  background-color: $cWhite;
  height: 80px;
  padding-left: 30px;
  border-bottom: 1px solid $cFourth;
  margin-top: 34px;
}

#trafficking-column-titles {
  margin-top: 15px;
}

/*--------------------------------------------
            FUNNEL VIEW
---------------------------------------------*/

#funnelView {
  background-color: $cWhite;
}

.sidebar-funnel {
  position: absolute;
  padding: 0;
  border-right: 1px solid $cFourth;
  background-image: url(../images/csbApp/Funnel_with_transparent_background.png);
  background-position: right center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.sidebar-funnel h4 {
  padding: 10px;
  margin: 0;
  color: $cWhiteSeventy;
  background: rgba(13, 42, 77, 0.4);
}

.central-wrap {
  .centralDataListColumnBorder {
    border-left: 0px;
  }
  .centralFooter {
    border-left: 0px;
  }
  mm-history {
    display: none;
  }
}

#targetAudienceList {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  postition: relative;
}

#targetAudienceList ul {
  list-style: none;
  color: $cWhiteSeventy;
  width: 100%;
}

ul#audienceSegmentsList {
  padding-left: 0px;
  overflow: auto;
}

#segmentRules {
  padding-left: 25px;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
}

#segmentRules.expanded {
  margin-top: 15px;
  max-height: 200px;
  overflow: auto;
  opacity: 1;
}

.segment-name {
  padding: 8px 10px 10px 10px;
  font-family: arial, sans-serif;
  font-size: 12px;

}

.segment {
  border: 1px solid $cForthBorder;
  margin: 10px 20px;
  color: $cSecondary;
  min-height: 54px;
  &:hover {
    cursor: move;
  }
}

.collapsed-audience-segment {
  &:hover {
    background-color: $cFifth;
  }

  &:active {
    background-color: #CFE3FF;
  }

  &:focus {
    background-color: #CFE3FF;
  }

}

.funnel_default_TA {
  cursor: pointer !important;
  margin-bottom: 0 !important;
}

.funnel_drag_and_drop_container {
  margin-bottom: 0;
}

.expanded-audience-segment {
  color: #8694A6;
}

.expanded-audience-segment .segment-rule {
  color: #8694A6;
}

.expanded-audience-segment .segment-name {
  color: #8694A6;
}

.expanded-audience-segment .selected-segment .segment-name {
  color: $cWhite;
}

.ui-sortable-helper {
  width: 101% !important;
  font-weight: bold;
  font-size: 1.1em;
  background-color: $cFifth;
}

.segment:first-child {
  border-top: 1px solid $cForthBorder;
}

.selected-segment {
  border: 0 !important;
  color: $cWhite;
  background-color: $cSecondary;

}

.selected-segment:hover {
  background-color: $cSecondary;
}

.selected-segment:first-child {
  border-top: 1px solid $cFourth;
}

#segmentRules {
  padding-left: 0;
  margin-top: 0;
  transition: all .5s;
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
}

.segment-rule {
  color: $cWhiteEighty;
  margin-bottom: 7px;
}

.collapsed-segment {
  float: left;
  width: 15px;
}

.segment-rule-collapsed {
  color: #8694A6;

}

.collapsed-segment.ng-hide-add, .collapsed-segment.ng-hide-remove {
  transition: 0.5s linear all;
}

.indicator {
  margin-right: 10px;
  cursor: pointer;
  margin-top: 5px;
}

.csb_funnel_buttons_wrapper {
  position: absolute;
  height: 35px;
  margin: 15px 0 0 0;
  padding: 0 20px;
}

/*--------------------------------------------
            MESSAGE AREA
---------------------------------------------*/
.message-area {
  /*width: 75.33333%;
  margin-left: 24.6666667%;*/
  position: relative;

}

#dgs-message-area {
  padding-left: 0;
  padding-right: 0;
  position: absolute;
  margin-left: 25%;
  background-color: #E3E9F4;
  height: 87%;
  width: 75%;
  overflow-y: auto;
}

/*--------------------------------------------
            FILTERS
---------------------------------------------*/
#filters {
  padding-left: 20px;
}

/*--------------------------------------------
            TOOLBAR
---------------------------------------------*/
#dg-toolbar {
  background-color: $cWhite;
  height: 90px;
  border-bottom: 1px solid $cFourth;
  padding-bottom: 10px;
}

#dg-toolbar-button-container button {
  float: left;
}

#dg-toolbar-button-container > div.dropdown {
  float: left;
}

.dg-toolbar-button {
  background-color: $cWhite;
  border: 1px solid $cFourth;
  margin: 15px 0 0 5px;
  color: #727272;
}

.dg-toolbar-button:disabled {
  color: $cForthBorder;
  border: 1px solid $cForthHint;
}

.dg-dropdown-button {
  color: #727272;
  background: transparent;
  border-style: none;
}

.dg-dropdown-button:disabled {
  color: $cForthBorder;
}

.dg-dropdown-button:focus {
  outline: 0;
}

#dg-toolbar-segment-name {
  height: 35px;
  border-bottom: 1px solid $cFourth;

}

#dg-toolbar-segment-name #blue {
  float: left;
  display: inline-block;
  width: 5px;
  height: 100%;
  background-color: $cSecondary;
  margin-right: 10px;
}

#dg-toolbar-segment-name #ta-name {
  float: left;
  display: inline-block;
  font-weight: bold;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

#dg-toolbar-button-container .dropdown {
  width: 300px;
}

.trafficking-dropdown .dropdown-menu {
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  border: 1px solid $cFourth;
  top: 23px;
}

.preview {
  float: left;
}

.ta-name-arrow {
  /*display: inline-block;*/
  width: 11px;
  height: 34px;
  background-image: url(../images/csbApp/b27f00d0.si_flow_arrow.png);
  position: relative;
  left: 550px;
}

/*--------------------------------------------
            RIGTH SIDEBAR
---------------------------------------------*/

#rightSideBar.rightSideBar-bg {
  width: 61px;
  position: fixed;
  top: 34px;
  right: 0;
  bottom: 0;
  background: $cSecondaryTwenty;
  border-left: $cSecondary 1px solid;
  z-index: 5;
  padding: 0;
}

#rightSideBar .sidebar-launcher {
  width: 89px;
  position: fixed;
  top: 34px;
  right: 0;
  bottom: 0;
  /*background: $cSecondaryTwenty;*/
  /*border-left: $cSecondary 1px solid;*/
  z-index: 5;
  padding: 0;
}

#rightSideBar .sidebar-launcher button {
  margin: 10px;
}

/*--------------------------------------------
            MASTER ADS VIEW
---------------------------------------------*/

#rightSideBar .masterAdsViewSideBar-bg {
  width: 24.666667%;
  position: fixed;
  top: 34px;
  right: 0;
  bottom: 0;
  background: $cWhite;
  border-left: #C5D2E8 2px solid;
  z-index: 5;
  padding: 0;
}

#rightSideBar .AdsView div.top-container {
  border-bottom: 1px solid #C5D2E8;
  height: 100px;
}

#rightSideBar .AdsView div.top-container button.preview-button {
  background-color: $cWhite;
  color: #6B7587;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border: 1px solid $cDarkGrey;
  padding: 2px 9px;
  margin: 15px 0 0 15px;
}

#rightSideBar .AdsView div.top-container h4 {
  padding: 15px;
  margin: 0;
  color: black;
}

#rightSideBar .AdsView button.hide-button {
  float: right;
  margin: 15px;
}

#rightSideBar .AdsView div.searchInput {
  margin: 15px;
}

#rightSideBar .AdsView div.adsContainer {
  overflow: auto;
  min-height: 400px;
}

#rightSideBar .AdsView table thead tr {
  text-transform: uppercase;
  color: #788091;
}

#rightSideBar table thead tr th {
  border-right: 1px solid $cFourth;
}

#rightSideBar table thead tr th:first-child {
  border-right: 0;
}

#rightSideBar .AdsView table tbody tr,
.AdsView table tbody tr * {
  background-color: $cWhite;
}

#rightSideBar .AdsView table tbody tr:nth-child(odd) > td {
  background-color: #ECF4FE;
}

#rightSideBar .tfoot table tr {
  background-color: $cWhite;
  color: #000;
}

/* tabs */

.nav-sizmek-tabs li {
  float: left;
  margin-top: -1px;
  margin-left: -1px;
  height: 38px;
  padding: 0 7px;
  font-size: 13px;
  text-transform: uppercase;
  border-left: 0;
  border-right: 1px solid $cFourth;
  border-top: 1px solid $cFourth;
  border-bottom: 1px solid $cFourth;
}

.nav-sizmek-tabs li:first-child {
  border-left: 1px solid $cFourth;
}

.nav-sizmek-tabs li a {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  line-height: 1;
  color: $cSecondary;
}

.nav-sizmek-tabs li a:hover {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  line-height: 1;
  color: $cMain;
  background-color: transparent;
  border: 1px solid white;
}

.nav-sizmek-tabs li.disabled a {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  line-height: 1;
  color: $cSecondaryHint;
}

.nav-sizmek-tabs li.active {
  border-top: 3px solid $cMain;
  color: $cSecondary;
}

.nav-sizmek-tabs li.active a {
  border: 0;
}

.nav-sizmek-tabs li.active a:hover {
  border: 0;
}

.modal-content {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}

.modal-header {
  background-color: $cSecondary;
  color: #d1dbed;
}

.modal-content .alert {
  max-width: 100%;
  min-width: 0;
  padding: 10px;
}

.close {
  float: right;
  font-size: 30px;
  font-weight: bold;
  line-height: 1;
  color: #000;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

button.close {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: $cThird;
  border: 0;
}

/*  #draggingContainer refers to the table that gets dragged  */
table#draggingContainer {
  table-layout: fixed;
  opacity: 0.8;
  filter: alpha(opacity=80); /* this is supposed to work under IE8 and earlier */
}

.adsContainer table {
  table-layout: fixed;
}

.adsContainer table tr td {
  white-space: nowrap;
}

.adsContainer table tr.selected td {
  background-color: #5D7CA3 !important;
  cursor: pointer;
}

.adsContainer table tr.selected td input {
  cursor: pointer;
}

#tree.treeview-content .droppable {
  border: 0;
}

#tree.treeview-content .over {
  border: 1px dotted #d1dbed;
  background-color: #d1dbed;
  padding-bottom: 25px;
}

#tree.treeview-content {
  overflow: auto;
  height: 200px;
}

#tree.treeview-content .active {
  border: 1px dashed #777;
  padding-bottom: 25px;
}

.droppableItem {
  width: 60%;
}

#tree > .droppableItem {
  width: 100%;
}

table#DeliveryGroups tr {
  cursor: pointer;
}

table#DeliveryGroups tr.disabled {
  color: #ddd;
}

table#DeliveryGroups tr.disabled button {
  color: #000;
}

/***********/

.remove-group span {
  top: -2px;
  left: 1px;
  background-color: $cWhite;
  cursor: pointer;
}

.treeViewLoading {
  padding: 10px;
  height: 45px;
}

/*----------------------------------------
            SIZMEK TABLES
-----------------------------------------*/

.sizmek-table {
  border-color: $cFourth !important;
}

.sizmek-table th {
  border-top: 3px solid $cMain !important;
  color: $cSecondary !important;
}

.sizmek-table td {
  font-size: 12px !important;
  color: $cSecondarySeventyFive !important;
  font-family: 'helvetica neue', arial !important;
}

.sizmek-panel {
  border: 1px solid $cFourth;
  margin-bottom: 15px;
}

.sizmek-panel-heading {
  border-top: 3px solid $cMain;
  color: $cSecondary;
  padding: 8px 15px;
  text-transform: uppercase;
}

.sizmek-list-group {
  padding: 0;
  margin: 0;
}

.sizmek-list-group-item {
  border-top: 1px solid $cFourth;
  list-style-type: none;
  padding: 10px 15px;
  font-family: 'helvetica neue', arial;
  font-size: 12px;
  color: $cSecondarySeventyFive
}

/*---------------------------------------------
                ALERT - ERROR
----------------------------------------------*/

.alert-box-container {
  position: absolute;
  left: 200px;
  right: 200px;
  z-index: 1000;
}

.alert-error-box {
  position: relative;
  top: 10px;
  left: 0px;
  right: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.31);
}

.alert-error-box button.close, .alertMainDiv button.close {
  background: none;
}

/*--------------------------------------------
                ANIMATIONS
---------------------------------------------*/
.glyphicon {
  transition: all .4s;
  -moz-transition: all .4s;
  -webkit-transition: all .4s;
}

/* rotate 180 */
.rotate-180 {
  transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

/* loading spinner*/
.spin-360 {
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 4000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: rotate;
  -moz-animation-duration: 4000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: rotate;
  -ms-animation-duration: 4000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  animation-name: rotate;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.large-loading-spinner {
  font-size: 50px;
  margin: 15px 0 30px 0;
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 4000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: rotate;
  -moz-animation-duration: 4000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: rotate;
  -ms-animation-duration: 4000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  animation-name: rotate;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@-moz-keyframes rotate {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-ms-keyframes rotate {
  from {
    -ms-transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------
           CUSTOM BUTTONS
---------------------------------------------*/
.btn-sizmek-outline {
  font-size: 11px !important;
  padding: 3px 14px;
  border: 1px solid white;
  text-transform: uppercase;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}

.btn-sizmek.outline.disabled {
  border: 1px solid #606060;
  color: #606060;
  background-color: transparent;
}

.btn-sizmek-outline:hover {
  color: $cWhite;
  border-color: yellow;
}

.btn-sizmek-outline.highlighted {
  border-color: yellow;
}

/*---------------------------------------------
            BOOTSTRAP FORM OVERRIDES
----------------------------------------------*/
.form-control {
  border: 1px solid $cFourth;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  outline: 0;
  border-radius: 4px !important;
  -moz-border-radius: 4px !important;
  -webkit-border-radius: 4px !important;
}

.form-control:hover {
  border: 1px solid $cSecondary;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.form-control:focus {
  border: 1px solid $cMain;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

/*---------------------------------------------
                ICON FONT
----------------------------------------------*/
@font-face {
  font-family: 'csb-icomoon';
  src: url('../styles/fonts/csbApp-icomoon.eot?-pwcfa8');
  src: url('../styles/fonts/csbApp-icomoon.eot?#iefix-pwcfa8') format('embedded-opentype'), url('../styles/fonts/csbApp-icomoon.woff?-pwcfa8') format('woff'), url('../styles/fonts/csbApp-icomoon.ttf?-pwcfa8') format('truetype'), url('../styles/fonts/csbApp-icomoon.svg?-pwcfa8#csbApp-icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="csb-icon-"], [class*=" csb-icon-"] {
  font-family: 'csb-icomoon';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.csb-icon-add-btn:before {
  content: "\e608";
}

.csb-icon-text-box:before {
  content: "\e600";
}

.csb-icon-audience-manager:before {
  content: "\e602";
}

.csb-icon-segment:before {
  content: "\e603";
}

.csb-icon-select-1:before {
  content: "\e604";
}

.csb-icon-diselect-2:before {
  content: "\e605";
}

.csb-icon-search:before {
  content: "\e606";
}

.csb-icon-rounded-x:before {
  content: "\e607";
}

.csb-icon-retargeting:before {
  content: "\e608";
}

.csb-icon-untitled-1:before {
  content: "\e609";
}

.csb-icon-select-3:before {
  content: "\e60a";
}

.csb-icon-select-4:before {
  content: "\e60b";
}

.csb-icon-remove-btn:before {
  content: "\e60d";
}

.csb-icon-x-icon:before {
  content: "\e60c";
}

.csb-icon-x-bold-icon:before {
  content: "\e60d";
}

.csb-icon-arrow-up:before {
  content: "\e60e";
}

.csb-icon-share:before {
  content: "\e60f";
}

.csb-icon-arrow:before {
  content: "\e610";
}

.csb-icon-contextual-targeting:before {
  content: "\e611";
}

.csb-icon-geo-targeting:before {
  content: "\e612";
}

.csb-icon-site-keywords:before {
  content: "\e609";
}

.csb-icon-interaction:before {
  content: "\e613";
}

.csb-icon-note:before {
  content: "\e614";
}

.csb-icon-untitled-2:before {
  content: "\e615";
}

.csb-icon-text:before {
  content: "\e616";
}

.csb-icon-folder-closed:before {
  content: "\e617";
}

.csb-icon-folder-open:before {
  content: "\e618";
}

.csb-icon-image:before {
  content: "\e619";
}

.csb-icon-select-unchecked:before {
  content: "\e61a";
}

.csb-icon-select-checked:before {
  content: "\e61b";
}

.csb-icon-disabled-option:before {
  content: "\e61c";
}

/* temp until we get real icon for these */
/*.csb-icon-adobe:after{
  content:'';
  display:inline-block;
  margin-bottom: -5px;
  margin-right: 8px;
  width:18px;
  height:18px;
  background-image:url(../csbApp/images/icons/CSB_audience_manager_normal.png);
}*/

/*Adding third party icons*/
.csb-icon-adobe:after {
  content: '';
  display: inline-block;
  margin-bottom: -5px;
  margin-right: 8px;
  width: 18px;
  height: 18px;
  background-image: url(../images/csbApp/adobe_audience_manager_left_bar.png);
}

.csb-icon-blukai:after {
  content: '';
  display: inline-block;
  margin-bottom: -5px;
  margin-right: 8px;
  width: 18px;
  height: 18px;
  background-image: url(../images/csbApp/blukai_left_bar.png);
}

.csb-icon-datalogix:after {
  content: '';
  display: inline-block;
  margin-bottom: -5px;
  margin-right: 8px;
  width: 18px;
  height: 18px;
  background-image: url(../images/csbApp/data_logix_left_bar.png);
}

.csb-icon-neustar:after {
  content: '';
  display: inline-block;
  margin-bottom: -4px;
  margin-right: 8px;
  width: 18px;
  height: 18px;
  background-image: url(../images/csbApp/neustar_left_bar.png);
}

.csb-advance-search-icon {
  display: inline-block;
  margin-bottom: -5px;
  margin-right: 8px;
  width: 17px;
  height: 17px;
  background-image: url(../images/csbApp/search_icon.png);
}


/*--------------------------------------------
            FOOTER TOOLBAR
---------------------------------------------*/

.csb-remove-circle {
  content: '';
  display: inline-block;
  /*margin-bottom: -5px;
  margin-right: 8px;*/
  width: 36px;
  height: 36px;
  background-image: url(../images/csbApp/CSB_canvas_delete_icon_normal.png);
  cursor: pointer;
}

.csb-remove-circle:hover {
  content: '';
  display: inline-block;
  /*margin-bottom: -5px;
  margin-right: 8px;*/
  width: 36px;
  height: 36px;
  background-image: url(../images/csbApp/CSB_canvas_delete_icon_active.png);
}

/*--------------------------------------------
                Alert
---------------------------------------------*/
.alertMessagePositionCenter {
  position: absolute;
  left: 0;
  right: 0;
}

.mdxUIContainer .mmGrid-buttons-line {
  left: 0 !important;
}
