/* Angular UI tab - css override */

// Holds all tabs in tabset
.nav-tabs {
  border-bottom: 1px solid $cFourth;
  //  margin: 0px 20px;
  height: 35px;
}

// Tab title item
.nav-tabs > li {
  background-color: $cWhite;
  text-transform: uppercase;
  font-family: 'Titillium Semibold';
  font-size: 13px;
  border-left: 1px solid $cFourth;
  border-top: 1px solid $cFourth;
  color: $cSecondary;
  margin-bottom: 0px;
  &:hover {
    cursor: pointer;
    color: $cMain;
  }
}

.nav-tabs > li:last-child, .nav-tabs > li.active:last-child {
  border-right: 1px solid $cFourth;
}

.nav-tabs > li.active, .nav-tabs.nav-justified > li.active {
  cursor: default;
  border-top: 0px;
  color: $cSecondary;
  &:hover {
  }
}

// Tab title link
.nav-tabs > li > a {
  text-transform: uppercase;
  line-height: initial;
  background-color: transparent;
  margin-right: 0px;
  padding: 0px;
  color: inherit;
  border-radius: 0;
  border: 0;
  padding: 1px 20px 0px 20px;
  line-height: 32px;

  &:hover {
    background-color: transparent;
    //line-height: initial;

  }
  //
  //  }
}

// Activated tab (Regular and justified)
.nav-tabs > li.active > a {
  color: $cSecondary;
  text-transform: uppercase;
  box-shadow: inset 0 3px 0 0 $cMain;
  //line-height: initial;
  //padding: 0px;
  padding: 2px 20px 0px 20px;
  line-height: 37px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus,
  // justified
.nav-tabs-justified > .active > a,
.nav-tabs.nav-justified > .active > a, .nav-tabs-justified > .active > a:hover,
.nav-tabs > li.active > a:hover,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs-justified > .active > a:focus,
.nav-tabs.nav-justified > .active > a:focus {
  cursor: default;
  color: $cSecondary;
  text-transform: uppercase;
  border: 0px;
  //padding: 0px;
  padding: 2px 20px 0px 20px;
  line-height: 32px;

}

// Disabled tab
.nav-tabs > li.disabled {
  text-transform: uppercase;
  margin-bottom: 0px;
  color: $cSecondaryDisable;
  &:hover {
    cursor: default;
  }
}

.nav-tabs > li.disabled > a {
  opacity: 0.5;
  padding: 0px;
  padding: 2px 20px 0px 20px;
  line-height: 31px;
  &:hover {
    cursor: default;
  }
}

tab-heading {
  span {
    font-size: 11px;
    position: relative;
    left: 3px;
  }
}

.tab-content {
  //  margin: 0px 20px;
  padding: 10px 0px;
}

.tabWithErrors {
  border-top: 0px !important;
  height: 34px;
  a {
    box-shadow: inset 0 3px 0 0 $cErrorColor !important;
    text-transform: uppercase;
    //padding: 0px;
    padding: 2px 20px 0px 20px !important;
    line-height: 33px;
    &:hover {
      color: $cMain;
    }
  }
}

.tabDisabled {
  opacity: 0.5;
  tabindex: -1;
  pointer-events: none;
}
