<div class="modal-header">
    <h3 class="modal-title">Save your template</h3>
</div>
<div class="modal-body">
    <div>
        <div class="csb-alert alert alert-danger" role="alert" ng-show="saveErrorText">{{ saveErrorText }}</div>
        <p>Do you want to save the current template ({{templateName}}) you are working on?</p>
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-success" ng-click="update()">{{ saveButtonText }}</button>
    <button class="btn btn-primary" ng-click="modal.dismiss()">Close</button>
</div>