<div class="mdxUI mdxUIContainer" ng-class="{ 'active' : showUI, 'mdx3': csb.config.env == 'mdx3' }">
    <div class="header">
        <h1>Static Retargeting Decision Rule<span ng-click="cancelChanges()" class="pull-right glyphicon glyphicon-remove"></span></h1>
    </div>
    <div class="body-wrapper">
        <div class="body clearfix">

            <div ng-show="loading">
                <span><i class="glyphicon glyphicon-refresh spin-360"></i> Loading Static Retargeting options...</span>
            </div>

            <div ng-hide="loading">

                <div ng-hide="staticAvailable">
                    <div decision-not-available decision="decision" decision-type="Static Retargeting" close-panel="closePanelUi()"></div>
                </div>

                <div ng-show="staticAvailable">

                    <div class="form-group" ng-show="errorText">
                        <div class="csb-alert alert alert-danger">{{errorText}}</div>
                    </div>

                    <div class="mm-entity-fields-container-single">
                        <mm-row>
                                <mm-text
                                        mm-layout-type="custom"
                                        mm-custom-control-width="315"
                                        mm-caption="Decision Rule Name:"
                                        mm-label-width="315"
                                        mm-model="name.text"
                                        mm-custom-label-padding="0"
                                        >
                                </mm-text>
                        </mm-row>
                        <mm-row>

                                <mm-drop-down
                                    mm-layout-type="custom"
                                    mm-custom-control-width="315"
                                    mm-caption="Decision Rule Type:"
                                    mm-placeholder="Select one"
                                    mm-data-model="ruleTypeOptions"
                                    mm-model="decision.data.isYesNo"
                                    mm-select-change-func="changeTargetType(decision.data.isYesNo)"
                                    mm-custom-label-padding="0"
                                    >
                                </mm-drop-down>

                        </mm-row>
                        <mm-row>
                            <mm-drop-down
                                    mm-layout-type="custom"
                                    mm-custom-control-width="315"
                                    mm-caption="Advertiser"
                                    mm-custom-model-text="'Select an advertiser'"
                                    mm-data-model="advertisers"
                                    mm-model="advertiser.value"
                                    mm-return-full-object="true"
                                    mm-select-change-func="advertiserChanged()"
                                    mm-disable="csb.params.advertiserID"
                                    mm-custom-label-padding="0"
                                    >
                            </mm-drop-down>
                        </mm-row>

                        <mm-row ng-show="advertiser.value.id">

                            <label>Targeted Viewers</label>

                            <div ng-repeat="group in decision.data.targetingGroups track by $index">

                                <div ng-if="group.type != 'default-decision'" style="position:relative">

                                    <i ng-show="decision.data.targetingGroups.length > 1 && decision.data.isYesNo != 'yes-no'"
                                       ng-click="removeGroup(group, $index)"
                                       class="csb-icon csb-icon-remove-btn remove-group-icon"
                                       style="right: 15px"></i>

                                    <div class="form-inline retargeting-content" style="width:315px; padding-top: 0;">
                                        <div class="form-group">
                                            <div ng-repeat="rule in group.rules track by $index" ng-init="rule.exposure = rule.exposure || exposures[0];">
                                                    <!-- select options for the exposure, model is stored locally -->

                                                      <mm-row>

                                                          <mm-radiobutton
                                                            mm-model="exposures"
                                                            mm-selected="rule.exposure.id"
                                                            mm-is-vertical="false"
                                                            >
                                                          </mm-radiobutton>

                                                      </mm-row>

                                                      <mm-row>
                                                        <mm-three-columns style="margin-top: -5px; margin-left: -14px; position: absolute;">
                                                          <mm-drop-down
                                                            mm-layout-type="custom"
                                                            mm-custom-control-width="117"
                                                            mm-hide-label="{{true}}"
                                                            mm-data-model="tags"
                                                            mm-model="rule.details"
                                                            mm-return-full-object="true"
                                                            mm-custom-model-text="'Select Tag...'"
                                                            mm-select-change-func="updateTagValues( rule, true )"
                                                            style="margin-left: 0; position: absolute"
                                                            >
                                                          </mm-drop-down>
                                                        </mm-three-columns>

                                                        <mm-three-columns style="position: absolute; margin-top: -5px; margin-left: 110px;">
                                                          <mm-drop-down
                                                            mm-layout-type="custom"
                                                            mm-custom-control-width="117"
                                                            mm-hide-label="{{ true }}"
                                                            mm-data-model="rule.tagValues"
                                                            mm-return-full-object="true"
                                                            mm-model="rule.selectedTagValues"
                                                            ng-hide="!rule.tagValues.length && !rule.tagValue.id"
                                                            allow-multi-select
                                                            control-type="multi"
                                                            >
                                                          </mm-drop-down>
                                                        </mm-three-columns>

                                                        <mm-three-columns>
                                                          <!-- delete button -->
                                                          <mm-control-container>
                                                            <i class="remove-rule-icon csb-icon csb-icon-remove-btn"
                                                               ng-if="group.rules.length > 1"
                                                               ng-click="group.rules.splice(group.rules.indexOf(rule),1)"
                                                               style=" margin-left: 220px; margin-top: 6px; position: absolute;"></i>
                                                          </mm-control-container>
                                                        </mm-three-columns>

                                                      </mm-row>
                                                      <br/>
                                                      <mm-row>
                                                           <mm-radiobutton
                                                            mm-model="logicalOperater"
                                                            mm-selected="rule.logicalOperator.id"
                                                            ng-hide="$last">
                                                           </mm-radiobutton>
                                                      </mm-row>



                                            </div>
                                        </div>

                                        <div ng-show="group.type != 'default-decision'" ng-init="group.rules.length == 0 ? addRule(group) : null">
                                            <a class="add-rule" ng-click="addRule(group)"><i class="csb-icon csb-icon-add-btn"></i> Add another rule</a>
                                        </div>

                                    </div>
                                </div>

                                <span class="group-logical-separator" ng-hide="decision.data.isYesNo == 'yes-no' || $index == decision.data.targetingGroups.length - 1">OR</span>

                            </div>

                            <div class="form-group" ng-hide="decision.data.isYesNo == 'yes-no'">
                                <a class="add-rule" ng-click="addGroup()"><i class="csb-icon csb-icon-add-btn"></i> Add Yes Branch</a>
                            </div>

                        </mm-row>

                        <mm-row>
                            <mm-drop-down
                                    mm-caption="And cookie age is not older than"
                                    mm-layout-type="custom"
                                    mm-custom-control-width="315"
                                    mm-custom-model-text="'Advertiser Default'"
                                    mm-return-full-object="true"
                                    mm-data-model="advertiserDays"
                                    mm-model="selectedDay.value"
                                    mm-label-width="315"
                                    mm-custom-label-padding="0"
                                    >
                            </mm-drop-down>
                        </mm-row>

                    </div>

                    <div class="footer">
                        <div class="form-buttons pull-right">
                            <button class="btn mdx-btn mdx-save-btn" ng-click="save(decision.data)">Save</button>
                            <button class="btn mdx-btn mdx-close-btn" ng-click="cancelChanges()">Cancel Changes</button>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
