<div class="btn-group">
	<button id="{{dataObj.type + centralIndex}}GroupByMenu" class="cleanButton dropdown-toggle" type="button" role="menu"><div class="settingsIcon"></div></button>
	<ul class="dropdown-menu" style="cursor: pointer;">
		<li class="dropdown" ng-mouseover="displayViewSubMenu=true" ng-mouseleave="displayViewSubMenu=false">{{'Customize View' | T}}<div class="arrowRight"></div>
			<div ng-if="displayViewSubMenu">
				<ul class="mmSubMenu">
					<li ng-repeat="availableColumn in dataObj.listMetaData" ng-click="addRemoveGridColumn(dataObj, availableColumn, $index);$event.stopPropagation();">
						<div class="mm_checkbox" style="top:3px;right:10px;"><span ng-class="{'selectedCB': availableColumn.isVisible}"></span></div>{{availableColumn.text | T}}
					</li>
				</ul>
			</div>
		</li>
		<li class="dropdown" ng-if="dataObj.groupedListOptions&&dataObj.groupedListOptions.length>0" ng-mouseover="displayViewSubMenu2=true" ng-mouseleave="displayViewSubMenu2=false">{{'Group By' | T}}<div class="arrowRight"></div>
			<div ng-if="displayViewSubMenu2">
				<ul class="mmSubMenu">
					<li ng-class="{'selectedSubMenu' :!dataObj.isGrouped}" ng-click="changeGroupOption(dataObj, 'None')">{{'None' | T}}</li>
					<li ng-class="{'selectedSubMenu' : dataObj.isGrouped && dataObj.groupedList.memberName == groupedOption}"
							ng-repeat="groupedOption in dataObj.groupedListOptions" ng-click="changeGroupOption(dataObj, groupedOption)">{{dataObj.listMetaData[groupedOption].text}}</li>
				</ul>
			</div>
		</li>
	</ul>
</div>
