<div style="height: 100%;width: 100%;top: 0;bottom: 0;border-right: solid 1px #bacae4;">
	<div class="centralHeader" style="min-width: 218px;height: 34px;line-height: 34px;padding-top: 0;">
		<div class="centralGroupHeaderTitle dropdown-toggle">{{ 'Grouped By '}}
			<div class="btn-group" style="color: #0068ff;">
				<button type="button" class="btn dropdown-toggle" style="background-color: transparent;color: #0068ff;font-size: 12px;top: -2px;line-height: 31px;">
					{{dataObj.listMetaData[dataObj.groupBy].text + 's' }}
					<span class="GroupByDDL" ng-click="changeGroupOption(dataObj, 'None')">&nbsp;</span>
				</button>
				<ul class="dropdown-menu flowLayoutLists" style="padding: 0;top: 30px;cursor: pointer;background-color: #fff;border: solid 1px #0d2a4d;color: #0d2a4d;min-width: 140px;">
					<li class="groupByColumnText" ng-click="changeGroupOption(dataObj, 'None')">{{'None' | T}}</li>
					<li class="groupByColumnText" ng-repeat="groupedOption in dataObj.groupedListOptions" ng-click="changeGroupOption(dataObj, groupedOption)">{{dataObj.listMetaData[groupedOption].text}}</li>
				</ul>
			</div>
			<span class="closeGroupBy" ng-click="changeGroupOption(dataObj, 'None')">&nbsp;</span>
		</div>
	</div>
	<div class="mmStretched centralDataListColumnBorder" style="top:34px !important;right:1px;;border:none;background-color: #F4F6FB">
		<div style="height:42px;padding-left: 12px;padding-right: 12px;padding-top: 12px;">
			<input type="text" class="form-control" ng-model="dataObj.groupedList.filterByText" placeholder="{{'Search...' | T}}" style="height: 24px;border: solid 1px #bacae4;border-radius: 0 !important;"/>
		</div>
		<div class="mmStretched" style="top:42px;">
			<div ng-model="dataObj.groupedList.memberValues" central-scroll-event="centralGroupByScroll(dataObj.groupedList.memberValues)" class="centralScrollBar centralGridColumnPlaceHolder" style="position: absolute;top:0;bottom: 0;left: 0;right: 5px;overflow-x: hidden;">
				<div ng-repeat="item in dataObj.groupedList.memberValues | filter: dataObj.groupedList.filterByText track by item.id" ng-include="'infra/central/views/centralGroupByRow.html'"></div>
			</div>
		</div>
	</div>
</div>
