<mm-mini-section
		mm-is-modal="'false'"
		mm-caption="agencySectionTitle"
		mm-start-open="mmMiniSectionState">
	<mm-row ng-if="mmPermission">
		<mm-label mm-is-edit-mode="isEditMode"
							mm-model="agencyName"
							mm-caption="Creative Manager"
							mm-layout-type="custom"
							mm-custom-control-width="210"
							mm-label-width="{{labelWidth}}"></mm-label>
		<span class="removeCreativeAgencyLink" data-ng-click="onRemoveAgencyClicked()">Remove Agency</span>
	</mm-row>
  <mm-row ng-if="!!mmIsCampaign">
    <mm-check-box
        mm-model="creativeAccountObj.primaryCreative"
        mm-caption="Primary Creative"
        mm-description="Primary"
        mm-layout-type="medium"
        mm-label-width="{{checkboxLabelWidth}}"
        mm-change="onPrimaryToggle()"
        mm-tab-index="1"
				mm-disable="!mmPermission">
    </mm-check-box>
  </mm-row>
  <!--<mm-row ng-if="!!mmIsCampaign">-->
    <!--<mm-check-box-->
        <!--mm-model="mmCampaignSetup.creativeManagerAccess"-->
        <!--mm-caption="Analytics Data Access"-->
        <!--mm-description="Allow for Creative Manager"-->
        <!--mm-layout-type="medium"-->
        <!--mm-label-width="{{checkboxLabelWidth}}"-->
        <!--mm-tab-index="2"-->
        <!--mm-disable="false">-->
    <!--</mm-check-box>-->
  <!--</mm-row>-->
	<mm-grid
			mm-grid-id="creativeContacts"
			show-selection-checkbox="{{mmPermission}}"
			items="mmModel.contacts"
			selected-items="mmModel.selectedItems"
			grid-height="200"
			cols="columns"
			is-cell-edit="{{mmPermission}}"
			show-footer="true"
			is-sort="true"
			is-single-select="false"
			is-groupable="false"
			show-filter="false"
			enable-column-resize="true"
			is-column-reorder="true"
			is-column-freeze="true"
			is-show-menu="false"
			save-data="saveData"
			is-show-tool-tip="true"
			is-central-grid="false"
			is-grid-toolbar="false"
			is-grid-loading="isGridLoading"
			after-selection-change="afterSelectionChanged"
			grid-select-actions="gridSelectActions"
			grid-button-actions="contactsGridButtonActions"
			generic-validation-handler="errorHandler"
			selected-row-handler="selectNewRowHandler">
	</mm-grid>
</mm-mini-section>