<div class="traffickingFilterContainer">
  <div class="csb_funnel_buttons_wrapper">
    <button ng-click="button.func()"
      class="centralMasterToolBarButton" ng-show="button.display" ng-repeat="button in mmButtons" type="button" ng-bind="button.name |T"></button>
  </div>
  <span class="csb-trafficking-title" ng-bind="mmTitle | T"></span>
  <span class="csb_searchTextBox_wrapper">
    <input type="text" ng-model="mmFilter" class="csb_searchTextBox form-control" placeholder="{{'Search...'| T}}"/>
  </span>
  <i ng-if="mmCollapsibleState != undefined" ng-click="mmCollapsibleState.open = false" class="funnelArrowLeftIcon"></i>
</div>
