<hr style="border-top: solid 1px #ffffff;"/>

<button ng-click="showAlert('Error')" class="btn btn-danger">Error Alert</button>
<button ng-click="showAlert('Success')" class="btn btn-success">Success Alert</button>
<button ng-click="showAlert('Warning')" class="btn btn-warning">Warning Alert</button>
<button ng-click="showAlert('Info')" class="btn btn-info">Info Alert</button>
<button ng-click="showAlert('LongText')" class="btn btn-info">Long Text</button>
<button ng-click="showAlert('WithLink')" class="btn btn-success">With Link</button>