<hr style="border-top: solid 1px #ffffff;"/>
<div style="background-color: #ffffff; padding-top: 10px; padding-left: 10px" >
  <mm-row>
    <mm-button mm-btn-type="save" mm-caption="save"></mm-button>
    <mm-button mm-btn-type="cancel" mm-caption="discard"></mm-button>
    <mm-button mm-btn-type="save" mm-action="uploadClick()" mm-caption="upload"></mm-button>
    <mm-button mm-btn-type="save" mm-caption="save long text"></mm-button>
    <mm-button mm-btn-type="save" mm-caption="add" ></mm-button>
  </mm-row>
  <mm-row>
    <mm-button mm-btn-type="save" mm-caption="save" mm-disable="true"></mm-button>
    <mm-button mm-btn-type="cancel" mm-caption="discard" mm-disable="true"></mm-button>
  </mm-row>
</div>
