<hr style="border-top: solid 1px #ffffff;"/>
<mm-row>
	<span style="color: #ffffff; background-color: #8CA4C7; position: relative; display: inline-block">Range Date Picker:</span>
	<mm-range-date-picker style="position: relative; display: inline-block" mm-model="date"></mm-range-date-picker>
</mm-row>
<mm-row>
	<span	style="color: #ffffff; background-color: #8CA4C7; position: relative; display: inline-block">Disable Mode: </span>
	<mm-range-date-picker style="position: relative; display: inline-block" mm-model="date"
												mm-disable="true"></mm-range-date-picker>
</mm-row>
<mm-row>
	<span	style="color: #ffffff; background-color: #8CA4C7; position: relative; display: inline-block">Single Date Picker: </span>
	<mm-single-date-picker mm-model="date.startDate" mm-disable="false"></mm-single-date-picker>
</mm-row>
