<hr style="border-top: solid 1px #ffffff;"/>
<mm-row>
  <mm-text mm-caption="Edit mode:" mm-model="demoModel.name" mm-placeholder="Enter Name" mm-disable="true"></mm-text>
  <mm-text mm-caption="New mode:" mm-model="" mm-placeholder="Enter Name" mm-disable="true" mm-is-edit-mode="false"></mm-text>
</mm-row>

<mm-row>
  <mm-text mm-caption="Edit mode:" mm-model="demoModel.name" mm-placeholder="Enter Name"></mm-text>
  <mm-text mm-caption="New mode:" mm-model="demoModel.name" mm-placeholder="Enter Name" mm-disable="false" mm-is-edit-mode="false"></mm-text>
</mm-row>
