<div class="editContainer">
	<div data-ng-include="'internal/demo/views/demoMiniSection.html'"></div>
	<div ng-include="'internal/demo/views/demoCheckbox.html'"></div>
	<div ng-include="'internal/demo/views/demoDatePicker.html'"></div>
	<div ng-include="'internal/demo/views/demoValidationError.html'"></div>
	<div ng-include="'internal/demo/views/demoAlert.html'"></div>
  <div ng-include="'internal/demo/views/demoTextField.html'"></div>
  <div ng-include="'internal/demo/views/demoLink.html'"></div>
  <div ng-include="'internal/demo/views/demoButton.html'"></div>
	<div ng-include="'internal/demo/views/demo.html'"></div>
</div>
