$gray : $cGrey;

@mixin rotationText {
  font-family: arial, sans-serif;
  font-size: 12px;
  color: $cMain;
  font-weight: normal;
}

.timeBaseRotation{
  //height: 30px;
  opacity: 0.75;
  display: inline-block;
//  background-color: $gray;
  padding: 5px;
  .link{
    @include  rotationText;
    &:hover {
      color: $cMain;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
