<div class="mdxUI mdxUIContainer" ng-class="{ 'active' : showUI, 'mdx3': csb.config.env == 'mdx3' }">
  <div class="header">
        <h1>Contextual Targeting <span ng-click="closePanel()" class="pull-right glyphicon glyphicon-remove"></span></h1>
    </div>

    <div class="body-wrapper" ng-style="csb.config.panelHeight">

        <div class="body clearfix">

            <div ng-show="loading">
                <span><i class="glyphicon glyphicon-refresh spin-360"></i> Loading Contextual Targeting options...</span>
            </div>

            <div ng-hide="loading">
                <div class="form-group col-md-12" ng-show="errorText">
                    <div class="csb-alert alert alert-danger">{{errorText}}</div>
                </div>

                <div class="mm-entity-fields-container-single">
                    <mm-row>
                        <mm-text
                                mm-layout-type="custom"
                                mm-custom-control-width="210"
                                mm-label-width="130"
                                mm-caption="Decision Rule Name"
                                mm-label-width="315"
                                mm-model="name.text"
                              >
                        </mm-text>
                    </mm-row>

                  <mm-row>
                      <mm-drop-down
                              mm-layout-type="custom"
                              mm-custom-control-width="210"
                              mm-label-width="130"
                              mm-caption="Decision Rule Type"
                              mm-placeholder="Select one"
                              mm-data-model="ruleTypeOptions"
                              mm-model="ruleType.id"
                              mm-disable="disableType"
                              mm-select-change-func=""
                              >
                      </mm-drop-down>
                  </mm-row>
                  <mm-row>
                        <mm-drop-down
                            mm-layout-type="custom"
                            mm-custom-control-width="210"
                            mm-label-width="130"
                            mm-data-model="categories"
                            mm-model="category.value"
                            mm-caption="Category"
                            mm-custom-model-text="'Select a Category'"
                            mm-select-change-func="loadSubCategories(category.value.id)"
                            mm-return-full-object="true"
                            >
                        </mm-drop-down>
                  </mm-row>

                  <filtered-select
                    list-to-choose-from="subCategories"
                    list-chosen="selectedSubCategories"
                    label="Subcategories"
                    filter-name="id"
                    filter-id="name"
                    item-name-key="name"
                    item-id-key="id"
                    ng-disabled="!category.value.id"
                    >
                  </filtered-select>
                </div>

                <div class="footer">
                    <div class="form-buttons pull-right">
                        <button class="btn mdx-btn mdx-save-btn" ng-click="save()">Save</button>
                        <button class="btn mdx-btn mdx-close-btn" ng-click="cancelChanges()">Cancel Changes</button>
                    </div>
                </div>

                <div class="col-md-12">

                    <h4>Summary</h4>
                    <div ng-repeat="subcategory in selectedSubCategories">
                        Exposed to {{ subcategory.name }} <span ng-hide="$last">OR</span>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
