<div class="upload-close shareCsbModal new-folder-modal">
    <div class="mmmodal-header">
        <div class="close">
            <div class="close-button" ng-click="close(false)"></div>
        </div>
        <div class="mmmodal-title">NEW FOLDER</div>
    </div>
    <div class="mmmodal-body">
        <ul class="share-form">
            <li class="access-pwd">
                <label>Folder Name</label>

                <div class="input-wrapper">
                    <input type="text" ng-model="commonModel.newFolder" ng-keypress="trackEvent($event,createNewFolder,'')" placeholder="Enter a folder name" focus/>
                </div>
            </li>
        </ul>
    </div>
    <div class="clear"></div>
    <div class="modal-footer">
        <button class="mm-save-button btn btn-primary" ng-click="createNewFolder()">CREATE</button>
        <button class="mm-discard-button btn btn-warning" ng-click="close(false)">CANCEL</button>
    </div>
</div>


    <style>
      .modal-dialog { width: 440px;}
    </style>