<!--<div>-->
	<!--<div class="modal-header">-->
		<!--<a class="close" data-dismiss="modal" data-ng-click="cancel()">&times;</a>-->

		<!--<h3>Add site section</h3>-->
	<!--</div>-->
	<!--<div class="modal-body" style="max-height: 300px; overflow-y: auto;">-->
		<!--<div ng-click="storeCurrentNode()" class="treeview-wrapper-div">-->
			<!--<mm-row>-->
				<!--<mm-text mm-model="section.name" mm-placeholder="Enter Site Section Name" mm-error="error.name" mm-caption="Name"-->
				         <!--mm-is-required="true" mm-label-layout-class="col-sm-3" mm-control-layout-class="col-sm-5"-->
				         <!--mm-is-dirty-counter="dirtyFlags.essential">-->
				<!--</mm-text>-->
			<!--</mm-row>-->
			<!--<mm-row>-->
				<!--<mm-text mm-model="section.url" mm-placeholder="Enter Url" mm-error="error.name" mm-caption="Url"-->
				         <!--mm-is-required="true" mm-label-layout-class="col-sm-3" mm-control-layout-class="col-sm-5"-->
				         <!--mm-is-dirty-counter="dirtyFlags.essential">-->
				<!--</mm-text>-->
			<!--</mm-row>-->
		<!--</div>-->
	<!--</div>-->
	<!--<div class="modal-footer">-->
		<!--<button class="btn btn-primary" ng-click="ok()">Add</button>-->
		<!--<button class="btn btn-warning" ng-click="cancel()">Cancel</button>-->
	<!--</div>-->
<!--</div>-->