<div class="mmStretchedWithScroll">
  <tabset justified="false">
    <tab select="toggleSite(false)" heading="Existing Sites">
      <mm-searchable-list mm-data-model="sites" mm-model="selectedSites.ids"></mm-searchable-list>
    </tab>
    <tab select="toggleSite(true)" heading="New Site">
      <mm-row>
        <div class="mm-entity-fields-container-single" style="margin-top: 5px">
          <mm-row>
            <mm-text mm-model="newSite.name"
                     mm-placeholder="Enter Name"
                     mm-error="validation.name"
                     mm-caption="{{'Name' | T}}:"
                     mm-is-required="true"
                     mm-is-edit-mode="isEditMode"
                     mm-change="onNameChanged()"
                     mm-show-edit-mode="createNewSite"
                     mm-label-width="{{labelWidth}}"
                     mm-layout-type="medium">
            </mm-text>
          </mm-row>
          <mm-row>
            <mm-drop-down mm-error="error.name"
                            mm-caption="Status"
                            mm-data-model="siteStatuses"
                            mm-model="newSite.status"
                            mm-error="validation.status"
                            mm-is-edit-mode="isEditMode"
                            mm-label-width="{{labelWidth}}"
                            mm-layout-type="medium"></mm-drop-down>
          </mm-row>
          <mm-external-id></mm-external-id>
        </div>
      </mm-row>
    </tab>
  </tabset>
</div>