<!--ng grid usage example-------------------------------------------------------------------------------------------------------------------->

<div>This is ng grid demo page</div>
<br/>

<mm-grid
	items="data"
	cols="columnDefs"
	selected-items="selectedItems"
	is-cell-edit="true"
	is-single-select="false"
	is-sort="true"
	show-footer="true"
	show-group-panel="true"
	show-selection-checkbox="true"
	show-filter="true"
	enable-column-resize="true"
	is-show-tool-tip="false"
	parent-function="parentFunction"></mm-grid>
