<mm-row>
	<mm-grid
		items=creativeAssets.items
		cols=gridColumns.creativeAssetsColumns
		is-cell-edit="false"
		is-show-menu="false"
		is-single-select="true"
		is-sort="false"
		is-setting-icon-disable= "false"
		is-search-icon-disable="false"
		show-footer="false"
		show-group-panel="false"
		show-selection-checkbox="false"
		show-filter="false"
		enable-column-resize="true"
		is-column-reorder = "false"
		is-show-tool-tip="true"
		is-central-grid="false"
		grid-height="140"
        generic-validation-handler="creativeAssetBaseValidationHandler"
        grid-button-actions=""
        mm-id="creativeAssets"></mm-grid>
</mm-row>

