<mm-row ng-if="tabsFocused.html5">
	<mm-grid
		items=ad.html5.archiveManifest
		cols=gridColumns.html5AssetsColumns
		is-cell-edit="false"
		is-show-menu="false"
		is-single-select="true"
		is-sort="false"
		is-setting-icon-disable= "false"
		is-search-icon-disable="false"
		show-footer="false"
		show-group-panel="false"
		show-selection-checkbox="false"
		show-filter="false"
		enable-column-resize="false"
		is-column-reorder = "false"
		is-show-tool-tip="true"
		is-central-grid="false"
		grid-height="140px"></mm-grid>
</mm-row>

