<mm-row>
	<mm-grid
		items=ad.companions
        selected-items = ad.selectedCompanions
		cols=gridColumns.inStreamCreativeAssetsCompanionColumns
		is-cell-edit="false"
		is-show-menu="false"
		is-single-select="false"
		is-sort="false"
		is-setting-icon-disable= "false"
		is-search-icon-disable="false"
		show-footer="false"
		show-group-panel="false"
		show-selection-checkbox="true"
		show-filter="false"
		enable-column-resize="false"
		is-column-reorder = "false"
		is-show-tool-tip="true"
		is-central-grid="false"
		db-click-handler="rowDoubleCLickFromGrid"
		grid-height="140"
		grid-button-actions="gridActions.inStreamVideoGridCButtonActions"></mm-grid>
</mm-row>

