<tr ng-click="select(preloadBanner)">
	<td><mm-label mm-caption="Preload Banner" mm-show-label="true"></mm-label></td>
	<td ng-if="isMultiple == undefined || isMultiple.length == 0 || isMultiple.indexOf('preloadBanner.assetId') == -1">{{preloadBanner.name}}</td>
	<td ng-if="isMultiple != undefined && isMultiple.indexOf('preloadBanner.assetId') != -1">Multiple Values</td>
	<td>
		<a class="glyphicon glyphicon-upload" ng-click="showUploadAssetModal(true,'preloadBanner')"></a>
	</td>
	<td ng-if="preloadBanner.size > 1048575 && (isMultiple == undefined || isMultiple.length ==  0 ||  isMultiple.indexOf('preloadBanner.assetId') == -1)">{{preloadBanner.size ize/1024/1024|number:2}} MB</td>
	<td ng-if="preloadBanner.size  < 1048576 && (isMultiple == undefined || isMultiple.length ==  0 ||  isMultiple.indexOf('preloadBanner.assetId') == -1)">{{preloadBanner.size ize/1024|number:2}} KB </td>
	<td ng-if="isMultiple == undefined || isMultiple.length ==  0 ||  isMultiple.indexOf('preloadBanner.assetId') == -1">{{preloadBanner.dimensions}}</td>
</tr>