<div ng-show=showSlider">
	<div id="carousel" class="flexslider">
		<ul class="slides">
			<li>
				<img src="images/picture1.jpg" alt="Slide Images">
			</li>
			<!-- items mirrored twice, total of 12 -->
		</ul>
	</div>
	<div id="slider" class="flexslider" ng-show="!hideAssetDetailSlider">
		<i class="fa fa-times fa-2x" data-ng-click="hideDetailSlider()"></i>
		<ul class="slides">
			<li>
				<div class="slide-content row">
					<div class="left-inner-slide">
						<img src="images/picture1.jpg" alt="Slide Images">
					</div>

					<div class="right-inner-slide">
						<h3>Additional Asset | Product1.jpg</h3>
						<ul>
							<li><label>Size</label><span>3 kb</span></li>
							<li><label>Dimensions</label><span>191 X 240 px</span></li>
							<li><label>Last Update</label><span>June 1 2014</span></li>
							<li><label>Updated by</label><span>Vitaly Mijiraski</span></li>
						</ul>
						<ul class="list-inline">
							<li><a href="#" class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i
								class="fa fa-refresh fa-stack-1x fa-inverse"></i></a>
								<a href="#" class="btn btn-default"> <i class="fa fa-share"> </i> Share </a>
								<a href="#" class="btn btn-default"> <i class="fa fa-edit"> </i> Edit </a>
							</li>
						</ul>
						<div class="clear"></div>
						<div class="ads-section">
							<h4>Ads</h4>

							<div class="table-container">
								<table>
									<tbody>
									<tr>
										<td>&nbsp;</td>
										<td>&nbsp;</td>
									</tr>
									<tr>
										<td>&nbsp;</td>
										<td>&nbsp;</td>
									</tr>
									<tr>
										<td>&nbsp;</td>
										<td>&nbsp;</td>
									</tr>
									<tr>
										<td>&nbsp;</td>
										<td>&nbsp;</td>
									</tr>
									<tr>
										<td>&nbsp;</td>
										<td>&nbsp;</td>
									</tr>
									<tr>
										<td>&nbsp;</td>
										<td>&nbsp;</td>
									</tr>
									<tr>
										<td>&nbsp;</td>
										<td>&nbsp;</td>
									</tr>
									<tr>
										<td>&nbsp;</td>
										<td>&nbsp;</td>
									</tr>
									<tr>
										<td>&nbsp;</td>
										<td>&nbsp;</td>
									</tr>
									<tr>
										<td>&nbsp;</td>
										<td>&nbsp;</td>
									</tr>
									<tr>
										<td>&nbsp;</td>
										<td>&nbsp;</td>
									</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</li>
			<!-- items mirrored twice, total of 12 -->
		</ul>
	</div>
</div>