<mm-row>
	<mm-grid
		items=variants.linears
		selected-items="variants.selectedLinears"
		cols=gridColumns.inStreamCreativeAssetsLinearColumns
		is-cell-edit="false"
		is-show-menu="false"
		is-single-select="false"
		is-sort="false"
		is-setting-icon-disable= "false"
		is-search-icon-disable="false"
		show-footer="false"
		show-group-panel="false"
		show-selection-checkbox="true"
		show-filter="false"
		enable-column-resize="false"
		is-column-reorder = "false"
		is-show-tool-tip="true"
		is-central-grid="false"
		grid-height="140"
		grid-button-actions="gridActions.variantInStreamGridLButtonActions"></mm-grid>
</mm-row>

