<div class="navbar-form navbar-left" role="search">
	<div class="form-group global-search">
    <mm-auto-complete id="ex1"
                      placeholder="Search countries"
                      pause="100"
                      mm-width="240"
                      mm-height="24"
                      selected-object="demoModel.vertical"
                      remote-url="global"
                      remote-url-data-field="result"
                      title-field="name"
                      type-field="title"
                      minlength="3"
                      mm-results-width="337"
                      clear-selected="true"
                      text-no-results="No results found"
                      class="mm-auto-complete"
                      match-class="angucomplete-match"
                      initial-value="Search..."
                      show-tip="false"
                      parse-search-term
                      show-group-by/>
	</div>
</div>
