<div style="background-color: rgb(205, 202, 212);">
	<div class="advancedSearchButtonCenterlize advancedSearchButtons">
		<div style="height: 100%;padding-left: 10px;">
			<div class="btn-group">
				<button type="button" class="btn btn-default" ui-sref="spa.advertiserEdit({itemId: 0})">{{'Add Advertiser' | T}}</button>
			</div>
		</div>
	</div>
</div>
<table class="table table-hover table-striped" style="table-layout:fixed">
	<thead>
	<tr>
		<th style="width: 20px;"></th>
		<th style="width: 20px;"></th>
		<th style="width: 50px;">
			<a class="click" ng-click="orderBy('id')"># <i ng-show="orderObj==='id'" class="glyphicon" ng-class="{false: 'glyphicon-chevron-up', true: 'glyphicon-chevron-down'}[reversed]"></i></a>
		</th>
		<th>
			<a class="click" ng-click="orderBy('name')"><span translate="Name"></span>&nbsp;<i ng-show="orderObj==='name'" class="glyphicon" ng-class="{false: 'glyphicon-chevron-up', true: 'glyphicon-chevron-down'}[reversed]"></i></a>
		</th>
		<th>
			<a class="click" ng-click="orderBy('vertical')">{{'Vertical' | T}} <i ng-show="orderObj==='vertical'" class="glyphicon" ng-class="{false: 'glyphicon-chevron-up', true: 'glyphicon-chevron-down'}[reversed]"></i></a>
		</th>
	</tr>
	</thead>
	<tbody>
	<tr ng-repeat="item in items | orderBy: orderObj: reversed">
		<td><i class="click glyphicon glyphicon-trash" ng-click="deleteItem(item)"></i></td>
		<td><i class="click glyphicon glyphicon-edit" ui-sref="spa.advertiserEdit({itemId: item.id})"></i></td>
		<td>{{item.id}}</td>
		<td><a>{{item.name}}</a></td>
		<td><a>{{item.vertical}}</a></td>
	</tr>
	</tbody>
</table>

<wave-spinner ng-show="showSPinner"></wave-spinner>
