<div class="mmStretched">
	<div class="mmStretched" style="left:0;right: 50%;"><central central-data-object="placementDataObject" entity-id="entityId" entity-type="entityType" disable-edit="true"></central></div>
	<div class="mmStretched" style="left:50%;right: 0;"><central central-main-entity-type="masterAd" central-data-object="adDataObject" entity-id="entityId" entity-type="entityType" disable-edit="true"></central></div>
</div>
<div><alert ng-repeat="alert in alerts" type="alert.type" close="alerts.length = 0">{{alert.msg}}</alert></div>
