<mm-row>
	<mm-text mm-caption="Width"
					 mm-placeholder="Enter width"
					 mm-model="newBannerSize.width"
					 mm-show-edit-mode="bannerSizeMode.isEditMode"
					 mm-is-required="true"
					 mm-label-width="80"
					 mm-layout-type="small"
					 mm-error="bannerSizeError.widthText"></mm-text>
	<mm-text mm-caption="Height"
					 mm-placeholder="Enter height"
					 mm-model="newBannerSize.height"
					 mm-show-edit-mode="bannerSizeMode.isEditMode"
					 mm-is-required="true"
					 mm-label-width="80"
					 mm-layout-type="small"
					 mm-error="bannerSizeError.heightText"></mm-text>
</mm-row>