<div ng-class="{'disableItem':!item.rotationSetting.enabled}" ng-include="'campaignManagementApp/directives/dg/tree/views/templates/node.html'"></div>
<span ng-class="{hidden: collapsed}" >
	<mm-row ng-if="!!item.subContainers" class="extend-mm-row">
			<mm-drop-down
					style="position: absolute"
					class="rotationPosition"
					mm-layout-type="custom"
					mm-label-width="70"
					mm-custom-control-width="170"
					mm-caption="Rotation"
					mm-select-change-func="onSubGroupRotationChange(item)"
					mm-data-model="rotations"
					mm-model="item.rotationType">
			</mm-drop-down>
	</mm-row>
	<ol ui-tree-nodes="" ng-model="item.subContainers">
		<li ng-if="(item.type =='AdContainer') ? true : item.rotationSetting.enabled || !mmHideDisabled.val" ng-repeat="item in item.subContainers" ui-tree-node>
			<div ng-include="'campaignManagementApp/directives/dg/tree/views/templates/nodes_renderer.html'"></div>
		</li>
	</ol>
</span>
