<!--<div class="{{mmControlClass}}"-->
     <!--style="{{mmControlWidth}}">-->
  <!--&lt;!&ndash;Start Date&ndash;&gt;-->
  <!--<mm-single-date-picker mm-error="mmError" mm-max-date="mmModelEndDate" mm-hide-label="{{mmHideLabel}}" mm-model="mmModelStartDate" mm-caption="{{mmCaptionStartDate}}"-->
                         <!--mm-on-date-picker-change="onDatePickerChange(dpObj)" mm-date-format="{{mmDateFormat}}" mm-disable="mmDisable"  mm-is-required="{{mmIsRequired}}"></mm-single-date-picker>-->
  <!--<span style="width: 250px"></span>-->
  <!--&lt;!&ndash;End Date&ndash&ndash;&gt;-->
  <!--<mm-single-date-picker mm-error="mmError" mm-min-date="mmModelStartDate"  mm-hide-label="{{mmHideLabel}}" mm-model="mmModelEndDate" mm-caption="{{mmCaptionEndDate}}"-->
                         <!--mm-on-date-picker-change="onDatePickerChange(dpObj)" mm-date-format="{{mmDateFormat}}" mm-disable="mmDisable"></mm-single-date-picker>-->
<!--</div>-->