<div class="adWeightedRotation">
	<mm-row>
		<mm-text
				mm-label-width="50"
				mm-layout-type="custom"
				mm-outer-control-class="col-lg-8"
				mm-control-layout-class="col-lg-3"
				mm-change="onWeightedChange(parentContainer,container)"
				mm-caption="Weight"
				mm-model="container.rotationSetting.weight"
				mm-show-edit-mode="adsArea.dgWeight.open"
				mm-error="container.rotationSetting.adWeightError.text"></mm-text>
		<mm-label
				mm-label-width="10"
				mm-layout-type="custom"
				mm-outer-control-class="col-lg-2"
				mm-caption="%"></mm-label>
	</mm-row>
</div>
