<div id="rightSideBar">
    <div class="sidebar-ads col-md-2 AdsView masterAdsViewSideBar-bg" ng-show="showMasterAdsView">

        <div class="top-container">
            <button class="btn btn-success preview-button" ng-click="openPreviewAds()" ng-disabled="previewAds.buttonDisabled">Preview</button>
            <h4>MASTER ADS</h4>
        </div>


        <button class="btn btn-info hide-button" ng-click="showMasterAdsView=!showMasterAdsView">
            Hide <span class="glyphicon glyphicon-arrow-right"></span>
        </button>

        <div>
            <div class="form-group searchInput">
                <div class="input-group">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-search"></span>
                    </div>
                    <input placeholder="Search ID, Name or Size" ng-model="searchQuery" class="form-control" />
                </div>
            </div>
        </div>

        <div class="adsContainer">
            <table class="table table-hover table-condensed table-striped">
                <colgroup>
                    <col width="5%"></col>
                    <col width="20%"></col>
                    <col width="25%"></col>
                    <col width="25%"></col>
                </colgroup>
                <thead>
                    <tr>
                        <th></th>
                        <th>Master ID</th>
                        <th>Name</th>
                        <th>Size</th>
                    </tr>
                </thead>
                <tbody class="DraggableThings">
                    <tr ng-repeat="ad in masterAds | filter:searchQuery" ng-class="{ selected: ad.selected }" draggable="true" data-ad="{{ad}}">
                        <td><input type="checkbox"></td>
                        <td>{{ad.AdID}}</td>
                        <td>{{ad.AdName}}</td>
                        <td>{{ad.Dimension}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <table class="tfoot table">
            <tr>
                <td>Total items: </td>
                <td>{{masterAds.length}}</td>
                <td>Selected items: </td>
                <td>{{previewAds.selectedAds.length}}</td>
            </tr>
        </table>

    </div>

    <div class="sidebar-launcher" ng-show="!showMasterAdsView">
        <button class="btn btn-xs btn-success" ng-click="showMasterAdsView=!showMasterAdsView"> master ads<br /><span class="
glyphicon glyphicon-arrow-left"></span></button>
    </div>

</div>

