<div class="loginFormContainer">
  <form>
    <div class="mm-row spaceBetweenInputs">
      <mm-text mm-model="userCredentials.tempPassword.value"
               mm-placeholder="Old Password"
               mm-disable="false"
               mm-is-edit-mode="false"
               mm-hide-label="true"
               mm-layout-type="custom"
               mm-custom-control-width="299"
               mm-id="tempPasswordTextBox"
               mm-input-type="password"
               mm-error="userCredentials.tempPassword.errorText"
               mm-change="cleanErrors()"
               set-focus>
      </mm-text>
    </div>
    <div class="mm-row spaceBetweenInputs">
      <mm-text mm-model="userCredentials.newPassword.value"
               mm-placeholder="New Password"
               mm-disable="false"
               mm-is-edit-mode="false"
               mm-hide-label="true"
               mm-layout-type="custom"
               mm-custom-control-width="299"
               mm-id="newPasswordTextBox"
               mm-input-type="password"
               mm-error="userCredentials.newPassword.errorText"
               mm-change="cleanNewPasswordErrors()">
      </mm-text>
    </div>
    <mm-row>
      <mm-text mm-model="userCredentials.newPasswordConfirmation.value"
               mm-placeholder="New Password Confirmation"
               mm-disable="false"
               mm-is-edit-mode="false"
               mm-hide-label="true"
               mm-layout-type="custom"
               mm-custom-control-width="299"
               mm-id="newPasswordConfirmationTextBox"
               mm-input-type="password"
               mm-error="userCredentials.newPasswordConfirmation.errorText"
               mm-change="cleanNewPasswordErrors()">
      </mm-text>
    </mm-row>
  </form>
  <span class="rules">
    <div>{{passwordRules.title}}</div>
      <span class="rulesList" ng-repeat="rule in passwordRules.rules">
        <div>•{{rule | T}}</div>
    </span>
  </span>
</div>
