<div class="loginBackground">
  <div class="loginFormContainer">
    <div class="logo">
    </div>
    <div class="formTitle">Forgot password</div>
    <form>
      <mm-row>
        <mm-text mm-model="userCredentials.userName.value"
                 mm-placeholder="Enter Your User Name"
                 mm-disable="false"
                 mm-is-edit-mode="false"
                 mm-hide-label="true"
                 mm-layout-type="custom"
                 mm-custom-control-width="189"
                 mm-id="usernameTextBox"
                 mm-error="userCredentials.userName.errorText"
                 mm-change="cleanErrors()"
                 set-focus>
        </mm-text>
        <button id="loginButton" type="submit" class="mm-button formSubmitButton" ng-click="forgotPassword()" ng-disabled="myForm.$invalid">
          <span class="next">RESET</span>
        </button>
      </mm-row>
      <a ui-sref="login()">Cancel</a>
    </form>
  </div>
</div>
<span class="contactBar">
  <a href="{{supportLink}}" class="contactTitle">
    Contact Support
  </a>
  <span class="contactDetails" ng-repeat="contact in contacts">
    <span class="contactName">  {{contact.region}}</span>
    <span>{{contact.phone}}</span>
    <span class="contactDelimiter" ng-show=" ! $last ">|</span>
  </span>
</span>
