<!DOCTYPE html>

<html>

<head>

<link rel="stylesheet" type="text/css" href="../styles/instream-player.css">
<script type="text/javascript" src="../lib/swfobject/swfobject.min.js"></script>
<script type="text/javascript" src="../lib/google/xml2json.min.js"></script>
<script type="text/javascript" src="../lib/sizmek/debug/common.js"></script>
<script type="text/javascript" src="../lib/sizmek/debug/instream-player.js"></script>
<script type="text/javascript" src="/bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>

</head>

<body>

<div id="player-container"></div>

</body>

</html>
