<div class="ioEditTitle">
    <p><span>CAMPAIGN INFO</span></p>
</div>
<div class="ioEditContent">
    <mm-row><mm-label mm-model="ioDetails.campaignInfo.name" mm-caption="Campaign Name:"></mm-label></mm-row>
    <mm-row><mm-label mm-model="ioDetails.campaignInfo.advertiser" mm-caption="Advertiser:"></mm-label></mm-row>
    <mm-row><mm-label mm-model="ioDetails.campaignInfo.mediaAgency" mm-caption="Media Agency:"></mm-label></mm-row>
    <!--<mm-row><mm-label mm-model="ioDetails.campaignInfo.moreInfo" mm-caption="More Info:"></mm-label></mm-row>-->
</div>