<mm-mini-section mm-caption="'OTHER PRODUCTS (Not used in this campaign)'"
                 mm-start-open="otherProductsSectionCollapse">

    <rate-products
            title="Premium CPM and Tracking Products"
            width="400"
            columns="gridColumns.rateProductColumns"
            items="gridItems.rateProductItems.notPartOfIO"></rate-products>

    <tier-products
            products="ioDetails.adSizeProducts"
            grid-cols="gridColumns.adSizeProductColumns"
            grid-items="gridItems.adSizeProductItems"
            width="310"
            part-of-io="false"></tier-products>

</mm-mini-section>
