<mm-grid
  items="editObject.servingAndCostInfo"
  selected-items="selected.servingAndCosts"
  cols="gridData.columns"
  is-cell-edit="true"
  is-show-menu="false"
  is-single-select="false"
  is-sort="true"
  is-setting-icon-disable= "false"
  is-search-icon-disable="false"
  show-footer="false"
  show-group-panel="false"
  show-selection-checkbox="true"
  show-filter="false"
  enable-column-resize="true"
  is-column-reorder = "false"
  is-show-tool-tip="true"
  is-central-grid="false"
  db-click-handler=""
  grid-height="200px"
  after-selection-change="gridData.selectedAction"
  generic-validation-handler="gridData.validationHandler"
  grid-button-actions="gridData.buttons">
</mm-grid>
