<mm-row>
    <mm-grid items="editObject.siteTemplateData"
             cols="settings.inStream.columns"
             is-cell-edit="true"
             is-single-select="true"
             is-sort="true"
             show-footer="false"
             is-groupable="false"
             show-selection-checkbox="false"
             show-filter="false"
             enable-column-resize="true"
             is-column-reorder="true"
             is-column-freeze="false"
             is-show-menu="false"
             grid-height="200"
             is-central-grid="false"
             grid-button-actions="settings.inStream.gridButtonActions"
             is-grid-loading="false"
						 selected-items=settings.inStream.selectedItems
						 selected-row-handler="onVastVarRowSelected">
    </mm-grid>
</mm-row>