<mm-row>
	<mm-check-box
			mm-model="editObject.sitePrivacy.coppaCompliantSite"
			mm-caption="COPPA"
			mm-description="Site is COPPA COMPLIANT"
			mm-is-required="{{!isRequired}}"
			mm-label-width="{{labelWidth}}"
			mm-layout-type="custom"
			mm-custom-control-width="{{labelWidth}}"
			mm-tab-index="1"></mm-check-box>
</mm-row>
<mm-row>
	<mm-check-box
			mm-model="editObject.sitePrivacy.disableCookies"
			mm-caption="Cookies"
			mm-description="Disable Cookies"
			mm-is-required="{{!isRequired}}"
			mm-label-width="{{labelWidth}}"
			mm-layout-type="custom"
			mm-custom-control-width="{{labelWidth}}"
			mm-tab-index="2"></mm-check-box>
</mm-row>