<!--<mm-row>-->
	<!--<mm-drop-down-->
			<!--mm-data-model="trackingType"-->
			<!--mm-model="placement.trackingType"-->
			<!--mm-is-required="true"-->
			<!--mm-caption="Tracking Type"-->
			<!--mm-error="trackingTypeError.text"-->
			<!--mm-label-width="{{labelWidth}}"-->
            <!--mm-tab-index="13"-->
			<!--mm-layout-type="medium"></mm-drop-down>-->
<!--</mm-row>-->

<!--<mm-row>-->
	<!--<mm-text-->
			<!--mm-model="placement.clickThroughURL.url"-->
			<!--mm-placeholder="Enter Click-Through URL"-->
			<!--mm-caption="Click-Through"-->
			<!--mm-label-width="{{labelWidth}}"-->
            <!--mm-tab-index="15"-->
			<!--mm-layout-type="medium"></mm-text>-->
<!--</mm-row>-->

<!--<mm-row>-->
	<!--<mm-text-->
			<!--mm-model="placement.impressionTrackingURL.url"-->
			<!--mm-placeholder="Enter Impression-Tracking URL"-->
			<!--mm-caption="Impression-Tracking"-->
			<!--mm-label-width="{{labelWidth}}"-->
            <!--mm-tab-index="17"-->
			<!--mm-layout-type="medium"></mm-text>-->
<!--</mm-row>-->

<!--<mm-row>-->
	<!--<mm-text-->
			<!--mm-model="placement.clickTrackingURL.url"-->
			<!--mm-placeholder="Enter Click-Tracking URL"-->
			<!--mm-caption="Click-Tracking"-->
			<!--mm-label-width="{{labelWidth}}"-->
            <!--mm-tab-index="19"-->
			<!--mm-layout-type="medium"></mm-text>-->
<!--</mm-row>-->

<!--<mm-row>-->
	<!--<mm-label-->
			<!--mm-model="placement.trackingAds.length"-->
			<!--mm-caption="Number Of Tracking Ads"-->
			<!--mm-error="numOfTrackingAdsError.text"-->
			<!--mm-label-width="{{labelWidth}}"-->
            <!--mm-tab-index="21"-->
			<!--mm-layout-type="medium"></mm-label>-->
<!--</mm-row>-->

<!--<mm-row>-->
	<!--<mm-text-->
			<!--mm-model="placement.forthPartyAdServingTag"-->
			<!--mm-placeholder="Enter Fourth-Party Tag"-->
			<!--mm-caption="Fourth-Party Tag"-->
			<!--mm-label-width="{{labelWidth}}"-->
            <!--mm-tab-index="23"-->
			<!--mm-layout-type="medium"></mm-text>-->
<!--</mm-row>-->

<!--<mm-row>-->
	<!--<mm-text-->
			<!--mm-model="placement.mmTrackingClickURL"-->
			<!--mm-placeholder="Enter Tracking Click URL"-->
			<!--mm-caption="Tracking Click"-->
			<!--mm-label-width="{{labelWidth}}"-->
            <!--mm-tab-index="25"-->
			<!--mm-layout-type="medium"></mm-text>-->
<!--</mm-row>-->