$gray : $cGrey;

.strikeWithText {
  display: block;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
}

.strikeWithText > span {
  position: relative;
  display: inline-block;
  left:50px
}

.strikeWithText > span:before,
.strikeWithText > span:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 9999px;
  height: 2px;
  background: $gray;
}

.strikeWithText > span:before {
  right: 100%;
  margin-right: 15px;
}

.strikeWithText > span:after {
  left: 100%;
  margin-left: 15px;
}