<div ng-if="feature.versaTag && permission.view" style="position:absolute; bottom:2px; top:2px; left : 0px; right:0px;">

    <div ng-class="{editContainer : !isModal}">
        <div class="mm-entity-fields-container" style="width: 58%">
            <div class="mm-entity-fields-container-left">
                <div class="mm-entity-fields-container-single">
                    <mm-row>
                        <mm-text mm-is-edit-mode="isEditMode"
                                 mm-caption="Tag Name"
                                 mm-model="editObject.name"
                                 mm-placeholder="Enter Tag Name"
                                 mm-is-required="{{isRequired}}"
                                 mm-label-width="{{labelWidth}}"
                                 text-tooltip="Enter tag name"
                                 mm-error="validation.name"
                                 mm-layout-type="medium"></mm-text>
                    </mm-row>
                    <mm-row ng-if="listOfAdvertisers.length > 0">

                        <mm-drop-down mm-is-edit-mode="isEditMode"
                                      mm-caption="Advertiser"
                                      mm-model="editObject.advertiserIds"
                                      mm-data-model="listOfAdvertisers"
                                      mm-is-required="{{isRequired}}"
                                      mm-label-width="{{labelWidth}}"
                                      mm-error="validation.advertiser"
                                      allow-multi-select
                                      control-type="multi"
                                      mm-layout-type="medium"></mm-drop-down>
                    </mm-row>
                    <mm-row>
                        <mm-text mm-is-edit-mode="isEditMode"
                                 mm-caption="Page URL"
                                 mm-model="editObject.pageURL"
                                 mm-placeholder="Enter Page URL"
                                 mm-is-required="{{isRequired}}"
                                 mm-error="validation.pageUrl"
                                 mm-label-width="{{labelWidth}}"
                                 text-tooltip="Enter Page URL"
                                 mm-layout-type="medium"></mm-text>
                    </mm-row>
                </div>
            </div>
        </div>

        <div class="mm-entity-info-box-container-right pull-right">
            <mm-row>
                <div style="border:1px solid gray;padding-bottom:12px; padding-top:12px;padding-right:20px;height:130px; width:450px;">
                    <div style="padding-left: 20px">

                        <mm-row>
                            <div class="pull-left">Total Page Views: {{editObject.tbd|number:2}}</div>
                            <div class="col-sm-6  pull-right">Last 24 Hrs Rule Matches: {{editObject.tbd|number:2}}
                            </div>
                        </mm-row>
                        <mm-row>
                            <div class="pull-left">Rules Page Views: {{editObject.tbd|number:2}}</div>
                            <div class="col-sm-6 pull-right">Last Rule Matche: {{editObject.lastUpdatedBy}} |
                                {{editObject.lastUpdateOn | date:'dd-MM-yyyy'}}
                            </div>
                        </mm-row>
                        <mm-row>
                            <div> Last 24 Hrs Page Views: {{editObject.tbd|number:2}}</div>
                        </mm-row>
                    </div>
                </div>
            </mm-row>
        </div>

        <div class="mm-entity-fields-container-single">
            <mm-row>
                <mm-toggle-container
                        mm-caption="Code"
                        start-open="!togglesStatus.code">
                    <div class="clearfix">
                        <mm-row class="col-md-7">
                            <mm-row>
                                <mm-drop-down
                                        mm-is-edit-mode="isEditMode"
                                        mm-caption="Type"
                                        mm-model="editObject.vtType"
                                        mm-data-model="codeTypes"
                                        mm-error="validation.codeType"
                                        mm-is-required="{{isRequired}}"
                                        mm-label-width="{{labelWidthFull}}"
                                        mm-layout-type="medium"
                                        mm-select-change-func=""></mm-drop-down>
                            </mm-row>
                            <div class="clearfix"></div>
                            <mm-row>
                                <div style="padding-top: 12px; line-height:30px">
                                    <mm-radiobutton
                                            mm-model="codeGenerationMode"
                                            mm-visible="true"
                                            mm-is-required="false"
                                            mm-is-vertical="false"
                                            mm-selected="editObject.codeGeneration"
                                            mm-model-id="text"
                                            mm-disabled="false"
                                            mm-caption="Code Generation Mode"
                                            mm-show-label="true"
                                            mm-layout-type="medium"
                                            mm-error="validation.codeGenerationMode"
                                            mm-is-required="{{isRequired}}"
                                            mm-label-width="{{labelWidthFull}}">
                                    </mm-radiobutton>
                                </div>
                            </mm-row>
                            <div class="row"></div>
                            <mm-row>
                                <div style="line-height:30px">
                                    <mm-radiobutton
                                            mm-model="loadingMethod"
                                            mm-visible="true"
                                            mm-is-required="false"
                                            mm-is-vertical="false"
                                            mm-selected="editObject.loadingMethod"
                                            mm-model-id="text"
                                            mm-disabled="false"
                                            mm-caption="Loading Method"
                                            mm-show-label="true"
                                            mm-layout-type="medium"
                                            mm-error="validation.codeGenerationMode"
                                            mm-is-required="{{isRequired}}"
                                            mm-label-width="{{labelWidthFull}}">
                                    </mm-radiobutton>
                                </div>
                            </mm-row>
                            <mm-row>
                                <mm-check-box
                                        mm-model="editObject.forceHTTPS"
                                        mm-label-width="{{labelWidthFull}}"
                                        mm-layout-type="medium"
                                        mm-caption="Server's Protocol"
                                        mm-layout-type="medium"
                                        mm-description="Force https"></mm-check-box>
                            </mm-row>
                            <mm-row>
                                <mm-check-box
                                        mm-model="editObject.removeComments"
                                        mm-label-width="{{labelWidthFull}}"
                                        mm-layout-type="medium"
                                        mm-caption="Code Comments"
                                        mm-layout-type="medium"
                                        mm-description="Remove Comments"></mm-check-box>
                            </mm-row>

                            <mm-label mm-caption="Parameters">Parameters</mm-label>

                            <mm-row justified="false">
                                <mm-grid
                                        show-selection-checkbox="true"
                                        items="editObject.parameters"
                                        selected-items="parameters.selectedItems"
                                        grid-height="250"
                                        grid-width="490"
                                        cols="columnsFull"
                                        is-cell-edit="true"
                                        show-footer="true"
                                        is-sort="true"
                                        is-single-select="false"
                                        filtered-items=""
                                        is-groupable="false"
                                        show-filter="true"
                                        enable-column-resize="true"
                                        is-column-reorder="true"
                                        is-column-freeze="true"
                                        is-show-menu="false"
                                        save-data="saveData"
                                        is-show-tool-tip="true"
                                        is-central-grid="false"
                                        is-grid-toolbar="false"
                                        is-grid-loading="isGridLoading"
                                        after-selection-change="afterSelectionChanged"
                                        grid-select-actions="gridSelectActions"
                                        grid-button-actions="gridButtonActions">
                                </mm-grid>

                            </mm-row>
                        </mm-row>

                        <mm-row ng-if="isEditMode" class="col-md-5">
                            <mm-mini-section
                                    mm-caption="'Code'"
                                    mm-start-open="!togglesStatus.code">
                                <mm-row>
                                    <div>
                                        <div style="margin-bottom: 10px;">
                                            <mm-button mm-caption="Update Code" ng-click="updateCode()"></mm-button>
                                        </div>

                                        <!--need to show code block here..-->
                                        <div class="code-block-wrapper">

                                            <mm-code-block mm-code="editObject.tagCode" select-on-click="true" class="code-block"></mm-code-block>

                                            <div class="code-block-overlay" ng-if="updatingCode">
                                                <div class="code-block-overlay-text">Loading...</div>
                                            </div>

                                        </div>


                                    </div>
                                </mm-row>
                            </mm-mini-section>

                        </mm-row>
                    </div>
                </mm-toggle-container>
            </mm-row>
        </div>

        <div ng-if="enable.customScript" class="mm-entity-fields-container-single">
            <mm-row>
                <mm-toggle-container
                        mm-caption="Custom Script"
                        start-open="togglesStatus.customScript">

                    <mm-row>
                        <span><mm-button mm-caption="Add"></mm-button></span>
                        <span><mm-button mm-caption="Remove"></mm-button></span>

                        <div class="pull-right">
                            <mm-text mm-is-edit-mode="isEditMode"
                                     mm-model="editObject.searchGroup"
                                     mm-placeholder="Search"
                                     mm-is-required="false"
                                     mm-error="validation.searchGroup"
                                     mm-label-width="{{labelWidthFull}}"
                                     text-tooltip="Enter Search Text"
                                     mm-layout-type="medium">
                        </div>
                    </mm-row>
                    <mm-row class="clearfix">
                        <mm-grid cols="customScriptColumnDefs"
                                 is-central-grid="false"
                                 is-cell-edit="false"
                                 show-selection-checkbox="true"
                                 is-single-select="true"
                                 is-column-reorder="true"
                                 grid-height="200"
                                 is-show-menu="true"
                                 show-filter="true"
                                 show-footer="true"
                                 is-sort="true">
                            >
                        </mm-grid>
                    </mm-row>

                </mm-toggle-container>
            </mm-row>
        </div>
    </div>

</div>

<div ng-if="feature.versaTag && permission.view === false">
    <mm-row>
        <mm-one-column>
            <h1>Permission Denied</h1>

            <p>We're sorry, you do not have permission to view this page. Please contact your account administrator if
                you think this is an error.</p>
        </mm-one-column>
    </mm-row>
</div>

<div ng-if="feature.versaTag === false">
    <mm-row>
        <mm-one-column>
            <h1>This feauture is unavailable</h1>

            <p>We're sorry, this feature is not turned on for your account. Please contact your account administrator if
                you think this is an error.</p>
        </mm-one-column>
    </mm-row>
</div>
