<div ng-show="dgs.length == 0" class="emptyDgTraffickingStateWrap">
	<div class="emptyDgTraffickingStateText" ng-bind="'dg_trafficking_NO_DELIVERY_GROUPS_YET' | T"></div>
	<a ng-click="callCreateNewDg()" class="emptyDgTraffickingStateLinkText" href="" ng-bind="'dg_trafficking_ADD_NEW_DELIVERY_GROUP' | T"></a>
	<span class="emptyDgTraffickingStateText" ng-bind="'dg_trafficking_OR' | T"></span>
	<a ng-click="displayExistingDgs()" class="emptyDgTraffickingStateLinkText" href="" ng-bind="'dg_trafficking_SELECT_EXISTING' | T"></a>
</div>

