<div ng-switch on="parentContainer.rotationType">

	<!--EvenDistribution-->
	<div ng-switch-when="EvenDistribution">
		<div ng-include="'campaignManagementApp/views/deliveryGroup/dgAdEvenDistribution.html'"></div>
	</div>

	<!--Weighted-->
	<div ng-switch-when="Weighted">
		<div ng-include="'campaignManagementApp/views/deliveryGroup/dgAdWeighted.html'">
		</div>
	</div>

	<!--Default EvenDistribution-->
	<div ng-switch-default>
		<div ng-include="'campaignManagementApp/views/deliveryGroup/dgAdEvenDistribution.html'"></div>
	</div>

</div>

